/** GLOBAL - BASE -----------------------------------------**/

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



html,
body,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 200;
}

body {
    background: #fff;
}

img {
    border: 0px;
    display: block;
}

ul,
li {
    list-style: none;
}

:focus {
    outline: none;
}

fieldset {
    border: none;
}




a,
i,
img,
div {
    vertical-align: baseline;
}



a {
    color: #F05B61;
    text-decoration: underline;
}





.icon {
    margin-top: 0px;
}


h1,
h2 {
    font-family: 'handsome_proregular';
    color: #F05B61;
    font-weight: 400;
}


h1 {
    font-size: 3em;
    line-height: 1em;
}


h2 {
    font-size: 2.2em;
    line-height: 1em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #F05B61;
}





@media (min-width: 992px) {
    #pagecontent.pagecontent-fullwidth {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}





