/** ORIGINAL CSS FILE ------------------------- **/

#footer {
    background-color: #37566A;
    color: #ffffff;
    height: auto;
}


/* ### footer container ### */

#footerCntr {
    overflow: hidden;
    width: 100%;
    background: #7694a4;
}


/* ### footer box ### */


/* ### footer bottom box ### */



/* #Media Queries
================================================== */

@media only screen and (max-width: 1149px) {
    .center {
        padding: 0px 10px;
    }
    .footerBox .left {
        padding-right: 40px;
    }
    .envelopBox li {
        padding-bottom: 10px;
        float: none;
        display: inline-block;
    }
}

@media only screen and (max-width: 979px) {
    .topBox {
        ul {
            margin-right: -7px;
        }
        li {
            padding-right: 7px;
            a {
                font-size: 13px;
            }
        }
        p {
            font-size: 13px;
        }
    }
    .menuBox:not(.mm-menu) li {
        padding: 6px 8px;
        a {
            font-size: 11px;
        }
    }
    .searchBox .heart {
        height: 28px;
    }
    
    .ticketsBox {
        padding: 20px 0px;
        ul {
            margin-right: -20px;
        }
        li {
            padding: 0px 20px 0 0;
        }
    }
    #leftCntr {
        display: none;
        width: 100%;
        background: #fff;
        z-index: 9;
    }
    #rightCntr {
        width: 100%;
    }
    .leftpannel {
        color: #000;
        font-size: 18px;
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;
        margin-bottom: 10px;
        span {
            font-size: 25px;
            margin-right: 5px;
        }
    }
    .galleryBox {
        ul {
            margin-right: -15px;
        }
        li {
            margin-right: 15px;
            width: calc(33.3% - 15px);
        }
    }
}

@media only screen and (max-width: 767px) {
    .menu {
        display: none;
    }
    .mobileMenu {
        display: block;
    }
    .topBox {
        p {
            width: 100%;
            text-align: center;
        }
        ul {
            width: 100%;
            text-align: center;
            li {
                float: none;
                display: inline-block;
            }
        }
    }
    .headerBox .button small {
        display: none;
    }
    .searchBox {
        width: 250px;
    }
    
    .envelopBox {
        padding: 25px 0px;
    }
    .ticketsBox li {
        width: 33.3%;
        padding-bottom: 30px;
    }
    .contentBox {
        h2 {
            font-size: 30px;
        }
        .gallery {
            margin-right: -20px;
            li {
                padding-right: 20px;
            }
        }
    }
}

@media only screen and (max-width: 479px) {
    #headerCntr .logo {
        width: 120px;
        margin-left: -70px;
        top: 19px;
    }
    
    .envelopBox h2 span {
        padding: 0px 10px;
    }
    .ticketsBox h2 span {
        padding: 0px 10px;
    }
    .galleryBox {
        ul {
            margin: 0px;
        }
        li {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
    .serviceBox .button {
        font-size: 13px;
    }
    .contentBox {
        h2 {
            font-size: 22px;
        }
        .gallery li {
            width: 33.3%;
        }
    }
}





/* ### global classes ### */

.clear {
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.center {
    margin: 0 auto;
    max-width: 1150px;
    position: relative;
}


/* ### wrapper ### */

#wrapper {
    position: relative;
    display: block;
    width: 100%;
    min-height: 100%;
}


/* ### main container ### */

#mainCntr {
    width: 100%;
}


/* ### top box ### */

.topBox {
    padding: 8px 0px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #f4f6f8;
    p {
        font-size: 15px;
        color: #7694a4;
        float: left;
    }
    ul {
        float: right;
    }
    li {
        padding: 0px 18px 0px 6px;
        float: left;
        a {
            font-size: 15px;
            color: #7694a4;
            text-decoration: none;
        }
        span {
            margin-right: 8px;
        }
        &:last-child a:before {
            font-family: 'FontAwesome';
            content: "\f0d7";
            position: absolute;
            top: 2px;
            right: 0px;
        }
        a:hover {
            color: #000000;
        }
    }
}


/* ### header box ### */

.headerBox {
    height: 93px;
    width: 100%;
    overflow: hidden;
    .button {
        margin-top: 20px;
        float: left;
        padding: 0px 17px;
        line-height: 40px;
        font-size: 15px;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px solid #a7c8c4;
        span {
            margin-right: 8px;
            font-size: 16px;
            color: #a7c8c4;
        }
        &.right {
            float: right;
        }
        &:hover {
            background: #a7c8c4;
            span {
                color: #000000;
            }
        }
        small {
            font-size: 15px;
        }
    }
}


/* ### menu box ### */

.menuBox {
    &:not(.mm-menu) {
        padding: 16px 0px 14px 0;
        background: #eaeef1;
        overflow: hidden;
        ul {
            list-style: none;
        }
        li {
            float: left;
            padding: 9px 13px;
            border-right: 1px dotted #7a7c7e;
            a {
                display: block;
                font-size: 15px;
                color: #000000;
                text-decoration: none;
                text-transform: uppercase;
                border-bottom: 2px solid transparent;
                &:hover {
                    border-bottom: 2px solid #e14249;
                }
            }
            &.active a {
                border-bottom: 2px solid #e14249;
            }
        }
    }
    .menu {
        width: calc(100% - 150px);
        float: left;
    }
}

.searchBox {
    width: 150px;
    float: right;
    .heart {
        width: 30px;
        float: left;
        height: 30px;
        padding: 8px 11px 0px 0;
        color: #000000;
        border-right: 1px dotted #7a7c7e;
        &:hover {
            color: #e54e53;
        }
    }
    .search {
        width: calc(100% - 40px);
        margin-left: 10px;
        padding: 7px;
        float: left;
        background: #fff;
        border: 1px solid #dfdfdf;
    }
    input[type="text"] {
        width: calc(100% - 16px);
        float: left;
        line-height: 18px;
        background: none;
        border: none;
    }
    .button {
        float: left;
        background: none;
        border: none;
    }
}

.mobileMenu {
    display: none;
    cursor: pointer;
    z-index: 15;
    float: left;
    width: 40px;
    height: 30px;
    position: relative;
    transition: .2s;
    overflow: hidden;
    span {
        display: block;
        height: 4px;
        text-indent: -9999px;
        border-radius: 5px;
        background: #000;
        position: absolute;
        top: 50%;
        right: 20%;
        left: 20%;
        transition: .2s;
        &:before,
        &:after {
            display: block;
            width: 100%;
            height: 4px;
            content: '';
            border-radius: 5px;
            background-color: #000;
            transition-duration: 0.2s, .2s;
            position: absolute;
            left: 0;
        }
        &:before {
            top: -7px;
            transition-property: top, transform;
        }
        &:after {
            bottom: -7px;
            transition-property: bottom, transform;
        }
    }
}

.mm-opened {
    .mobileMenu {
        span {
            background: none;
        }
        &.active span:before {
            transition-delay: 0s, .2s;
        }
    }
    .header__menu-toggle.active span:after {
        transition-delay: 0s, .2s;
    }
    .mobileMenu span {
        &:before {
            top: 0;
            transform: rotate(45deg);
        }
        &:after {
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
}




/* ### content container ### */

#contentCntr {
    width: 100%;
}



/* ### envelop box ### */



/* ### tickets box ### */

.ticketsBox {
    padding: 45px 0px;
    width: 100%;
    overflow: hidden;
    h2 {
        padding-bottom: 14px;
        text-align: center;
        display: block;
        max-width: 495px;
        margin: 0px auto;
        span {
            position: relative;
            top: -14px;
            font-size: 20px;
            font-weight: normal;
            background: #fff;
            padding: 0px 62px;
            display: inline-block;
        }
    }
    ul {
        list-style: none;
        margin-right: -35px;
    }
    li {
        width: 16.6%;
        padding: 0px 35px 30px 0px;
        float: left;
        img {
            width: 100%;
        }
    }
}

/* ###  review box ### */



/* ### left container ### */

#leftCntr {
    padding: 0px 30px 0px 0px;
    float: left;
    width: 296px;
}


/* ### accordion box ### */

.accordionBox {
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #82c8cb;
    h3 {
        padding: 8px 9px 8px 0;
        font-size: 18px;
        color: #000;
        cursor: pointer;
        font-weight: normal;
        border-top: 2px solid #82c8cb;
        span {
            font-size: 20px;
            color: #e14249;
            float: right;
        }
    }
    ul {
        list-style: none;
    }
    li {
        display: block;
        line-height: 25px;
        a {
            font-size: 15px;
            color: #3c3c3c;
            text-decoration: none;
        }
        span {
            padding-right: 12px;
            color: #7694a4;
        }
        a:hover,
        &.active a,
        a:hover span,
        &.active a span {
            color: #e54e53;
        }
    }
    ul.hide {
        display: none;
    }
}


/* ### rating box ### */

.ratingBox {
    margin-top: 56px;
    padding: 40px 30px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: #e0dfd1;
    .rating {
        text-align: center;
        span {
            margin-bottom: 10px;
            display: inline-block;
            color: #e14249;
        }
    }
    p {
        padding-bottom: 20px;
        font-size: 18px;
        color: #000000;
    }
    small {
        font-size: 15px;
        color: #000000;
        line-height: 25px;
        a {
            font-size: 13px;
            color: #e14249;
            text-decoration: underline;
        }
    }
}


/* ### link box ### */

.linkBox {
    margin-top: 30px;
    padding: 45px 30px 30px 30px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: #eaeef1;
    h3 {
        padding-bottom: 20px;
        font-size: 18px;
        color: #000000;
        font-weight: normal;
    }
    ul {
        list-style: none;
    }
    li {
        display: block;
        font-size: 15px;
        color: #e14249;
        a {
            font-size: 13px;
            color: #e14249;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}


/* ### right container ### */

#rightCntr {
    float: right;
    width: calc(100% - 296px);
}


/* ### gallery box ### */

.galleryBox {
    width: 100%;
    overflow: hidden;
    ul {
        margin-right: -30px;
    }
    li {
        position: relative;
        margin: 0px 30px 0px 0px;
        width: calc(33.3% - 30px);
        float: left;
        overflow: hidden;
        img {
            width: 100%;
            transition: 0.2s;
        }
        &:hover img {
            -webkit-transform: matrix(1.169, 0, 0, 1.139, 0, 0);
            -moz-transform: matrix(1.169, 0, 0, 1.139, 0px, 0px);
            -ms-transform: matrix(1.169, 0, 0, 1.139, 0, 0);
            -o-transform: matrix(1.169, 0, 0, 1.139, 0, 0);
            transform: matrix(1.169, 0, 0, 1.139, 0, 0);
        }
    }
    .button {
        position: absolute;
        left: 9px;
        bottom: 10px;
        width: calc(100% - 18px);
        line-height: 42px;
        display: block;
        font-size: 15px;
        color: #000000;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        background: #fff;
        box-shadow: 1px 1px 1px 0px rgba(16, 25, 42, 0.67);
    }
}


/* ### content box ### */

.contentBox {
    width: 100%;
    overflow: hidden;
    h2 {
        font-family: 'handsome_proregular';
        font-weight: normal;
        font-size: 40px;
        line-height: 40px;
        color: #e14249;
    }
    p {
        padding: 10px 0px 30px 0px;
        font-size: 16px;
        color: #3c3c3c;
        line-height: 27px;
    }
    .gallery {
        padding: 0px 0px 35px 0px;
        overflow: hidden;
        margin-right: -55px;
        list-style: none;
        li {
            padding: 0px 55px 30px 0px;
            width: 25%;
            float: left;
        }
        img {
            width: 100%;
        }
    }
    h3 {
        font-size: 22px;
        color: #e14249;
    }
    h4 {
        font-size: 16px;
        color: #e14249;
    }
}


