/** GLOBAL - FONTS -----------------------------------------**/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

@font-face {
    font-family: 'handsome_prothin';
    src: url('/css/fonts/handsomepro-thin-webfont.woff2') format('woff2'),
    url('./fonts/handsomepro-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'handsome_proregular';
    src: url('/css/fonts/handsomepro-regular-webfont.woff2') format('woff2'),
    url('./fonts/handsomepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'handsome_probold';
    src: url('/css/fonts/handsomepro-bold-webfont.woff2') format('woff2'),
    url('./fonts/handsomepro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}