/** GLOBAL - MIXINS -----------------------------------------**/

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function px-to-rem($value) {
    @return $value/10;
}


/* Takes sizes in pixels and outputs both the pixel and rem values for the given property */

@mixin size($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';
    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value}px;
        $remValues: #{$remValues + px-to-rem($value)}rem;
        @if $i < $max {
            $pxValues: #{$pxValues + " "};
            $remValues: #{$remValues + " "};
        }
    }
    @if ($pxValues==$remValues) {
        #{$property}: $pxValues;
    }
    @else {
        #{$property}: $pxValues;
        #{$property}: $remValues;
    }
}


/* Creates a mediaquery based on property and size in pixels */

@mixin mq($property, $size) {
    $value: strip-unit($size);
    @media only screen and (#{$property}: #{$value}px) {
        @content;
    }
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin combinedSvgPngBackground($file, $embedSvg: false) {
    background-image: url(#{$file}.png);
    // SVG support correlates to multiple background support so browser that do not support SVG will
    // ignore these rule because of the multiple background notation
    @if $embedSvg==true {
        background-image: url(#{$file}.svg?embed),
        none;
    }
    @else {
        background-image: url(#{$file}.svg),
        none;
    }
}

// Grid responsive
@mixin grid($values...) {
    $max: length($values);
    lost-column: 1/1;
    @each $map in $values {
        $mapBreakpoint: map-get($map, 'breakpoint');
        $mapProperty: map-get($map, 'property');
        $mapColumns: map-get($map, 'columns');
        @include mq(#{$mapProperty}, $mapBreakpoint) {
            lost-column: #{$mapColumns};
        }
    }
}

// Long words stop breaking layout
@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

// Give aspect ratio to div
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// CLEARFIX
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
