#body_edit #nav_buttons #order_card {
    margin-right: 20px !important;
}

#body_voorbeeld #pagecontent,
#body_basket #pagecontent,
#body_address_n #pagecontent {
    float: none;
}

#body_basket #nav_buttons .forward-button,
#body_basket #nav_buttons .back-button {
    background: url(/img/order_card.png) no-repeat 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: auto;
    height: 54px;
    text-decoration: none;
}

#body_basket #nav_buttons .forward-button:hover,
#body_basket #nav_buttons .back-button:hover {
    background: url(/img/order_card_o.png) no-repeat 0 0;
    text-decoration: underline;
}

#body_contact-support .button {
    background-color: buttonface;
}
