.ui-accordion .ui-accordion-icons {
    padding-left: 0px;
}

.ui-accordion .ui-accordion-header {
    padding: 0px;
    margin-bottom:0px;

}



.edittable {
	color: #262626;
}

.edittable {
	color: #262626;
	font-family: Arial;
	font-size: 13px;
}

#accordion .ui-accordion-content br {
	display: none;
}

#accordion .ui-accordion-content textarea#txt_edit_add {
	width: 288px !important;
	height: 65px !important;
}

#position_photo_tofront .ui-button-text,
#position_txt_tofront .ui-button-text {
	background: url(/img/gfx/to_front.png) no-repeat center center;
}

#position_photo_toback .ui-button-text,
#position_txt_toback .ui-button-text {
	background: url(/img/gfx/to_back.png) no-repeat center center;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
	padding: 0.4em 0.4em;
}

#photo_arrange #position_photo_tofront,
#photo_arrange #position_photo_toback,
#txt_arrange #position_txt_tofront,
#txt_arrange #position_txt_toback {
	background: none!important;
}

#position_photo_tofront .ui-button-text img,
#position_photo_toback .ui-button-text img,
#position_txt_toback .ui-button-text img,
#position_txt_tofront .ui-button-text img {
	visibility: hidden;
}

#imgtransparency,
#textsize {
	background: url(/img/gfx/bg_slider.png) no-repeat 0 0;
	width: 170px;
	float: right;
	margin-left: 0;
}

#imgtransparency a,
#texttransparency a,
#textsize a {
	background: url(/img/gfx/bg_circle.png) no-repeat 0 0;
	height: 16px;
	width: 16px;
	border: none;
	display: block;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -4px !important;
}

#texttransparencylabel {
	width: 100px;
	padding-top: 7px;
}

#texttransparency {
	background: url(/img/gfx/bg_slider02.png) no-repeat 0 0;
}

#txt_align_left_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

#txt_align_left_label:hover {
	background-position: 0 -31px;
}

#txt_align_left_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -61px;
}

#txt_align_center_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -467px;
}

#txt_align_center_label:hover {
	background-position: 0 -499px;
}

#txt_align_center_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -531px;
}

#txt_align_right_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -181px;
}

#txt_align_right_label:hover {
    background-position: 0 -213px;
}

#txt_align_right_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -244px;
}

#txt_align_top_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -276px;
}

#txt_align_top_label:hover {
   background-position: 0 -307px;
}

#txt_align_top_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -339px;
}

#txt_align_middle_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -91px;
}

#txt_align_middle_label:hover {
    background-position: 0 -120px;
}

#txt_align_middle_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -151px;
}

#txt_align_bottom_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -372px;
}

#txt_align_bottom_label:hover {
    background-position: 0 -404px;
}

#txt_align_bottom_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -435px;
}

#txt_align {
	height: 28px;
}

.ui-buttonset .ui-button {
	margin-right: 10px;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
	padding: 0;
	height: 31px;
	width: 31px;
}

.edittable td {
	height: 31px;
	padding: 3px 0;
}

#text_turn_left {
	margin-right: 6px;
}

#pt-upload input[type="file"] {
	background: #fff;
	margin-bottom: 10px;
}

#position_photo_tofront,
position_photo_toback,
#position_txt_tofront,
position_txt_toback {
	border: none !important;
}

position_photo_toback {
	margin-right: 10px;
}

#position_photo_tofront,
#position_txt_tofront {
	margin-right: 4px;
}

#patternselect_div,
#bt-pattern,
#bt-color {
	clear: both;
	padding-bottom: 10px;
}

#patternselect_div,
#bt-pattern .description,
#bt-color .description {
	color: #262626;
	font-family: Arial;
	font-size: 13px;
}

#patternselect_div img,
#bt-pattern img,
#bt-color .description img {
	display: none;
}

#accordion .ui-accordion-content span p {
	margin: 0;
	font-size: 12px;
	padding-bottom: 20px;
}

#accordion .ui-accordion-content span p a {
	color: #D19E33;
	display: inline;
}

#accordion .ui-accordion-content span p a:hover {
	text-decoration: underline;
}

#accordion .ui-accordion-content span ul {
	list-style: none;
	padding: 20px 0 0 0;
	margin: 0;
}

#accordion .ui-accordion-content span ul li {
	background: url(/img/ico-square.gif) no-repeat 0 7px;
	padding-left: 15px;
	font-size: 12px;
	padding-bottom: 20px;
}

.edit_big_button {
	font-family: Arial;
	font-size: 15px;
	border-radius: 0;
	width: 198px;
	margin: 0 auto;
	float: none;
	padding: 0;
	-moz-box-shadow: inset 1px -1px 0 0 #e8cf99;
	-webkit-box-shadow: inset 1px -1px 0 0 #e8cf99;
	box-shadow: inset 1px -1px 0 0 #e8cf99;
	background: #ec5a22;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #9c8e70;
}

.edit_big_button:hover {
	background: #f4916b;
}

#accordion .ui-accordion-content a[href="/login?redirecturl=/edit"] {
	display: block !important;
}

#background_type {
	padding-bottom: 15px;
}

#txt_align {
	height: 28px;
}

.combolist,
#bg_select,
#fg_select,
#bg_color,
#fg_color, 
#patternselect {
	width: 200px !important;
}

#background_type_pattern_label,
#background_type_color_label {
	background: #efefef;
	border: 1px solid #d3d3d3;
	font-size: 13px;
	color: #262626;
	font-family: Arial;
}

#background_type_pattern_label.ui-state-active,
#background_type_color_label.ui-state-active,
#background_type_pattern_label.ui-state-hover,
#background_type_color_label.ui-state-hover {
	background: #dfdfdf;
}

.head .next,
.head .prev {
	background: #525252;
	color: #fff !important;
	display: inline-block;
	width: 80px;
	height: 26px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
}

.head .next:hover,
.head .prev:hover {
	background: #838383;
}

#patternlist, #clipartlist {
	height: 180px;
}

#imagelist {
	height: 140px;
}

#text_turn_left,
text_turn_right {
	cursor: pointer;
}

#imagelist .pages,
#clipartlist .pages,
#patternlist .pages {
	width: 118px !important;
	color: #262626 !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#cl-bib {
	font-size: 13px;
	color: #262626;
	font-family: Arial;
}

#cl-bib select {
	width: 200px;
	float: right;
}

#clipartlist {
	padding-top: 15px;
}

#add_photo {
	margin-bottom: 10px;
	cursor: pointer;
}

.centeredImage,
.arrow_allign {
	display: none !important;
}

#imagelist .head span, #patternlist .head span, #clipartlist .head span {
	width: 100%;
}

#accordion .ui-accordion-content a {
	display: inline-block;
}

#phototabs {
	background: #ffffff;
}

#position_photo_full {
	color: #404040 !important;
	border: 1px solid #d3d3d3 !important;
	background: #efefef;
	height: 29px !important;
	line-height: 15px;
	padding-bottom: 2px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	cursor: pointer;
	-moz-box-shadow: inset 1px -1px 0 0 #eeeeee;
	-webkit-box-shadow: inset 1px -1px 0 0 #eeeeee;
	box-shadow: inset 1px -1px 0 0 #eeeeee;
	width: auto !important;
}

#position_photo_full span {
	height: auto !important;
	width: auto !important;
}

#position_photo_full:hover {
	background: #dfdfdf !important;
}

.ui-widget-content,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none !important;
}

#chooseside {
	margin-bottom: 0;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: purple;
}
