@font-face {
    font-family: 'droidsans';
    src: url('/css/fonts/droidsans-webfont.eot');
    src: url('/css/fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/droidsans-webfont.woff') format('woff'),
         url('/css/fonts/droidsans-webfont.ttf') format('truetype'),
         url('/css/fonts/droidsans-webfont.svg#droidsans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidsans_bold';
    src: url('/css/fonts/droidsans-bold-webfont.eot');
    src: url('/css/fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/droidsans-bold-webfont.woff') format('woff'),
         url('/css/fonts/droidsans-bold-webfont.ttf') format('truetype'),
         url('/css/fonts/droidsans-bold-webfont.svg#droidsans_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidserif_italic';
    src: url('/css/fonts/droidserif-italic-webfont.eot');
    src: url('/css/fonts/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/droidserif-italic-webfont.woff') format('woff'),
         url('/css/fonts/droidserif-italic-webfont.ttf') format('truetype'),
         url('/css/fonts/droidserif-italic-webfont.svg#droidserif_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('/css/fonts/droidserif-bolditalic.eot');
    src: url('/css/fonts/droidserif-bolditalic.eot') format('embedded-opentype'),
         url('/css/fonts/droidserif-bolditalic.woff') format('woff'),
         url('/css/fonts/droidserif-bolditalic.ttf') format('truetype'),
         url('/css/fonts/droidserif-bolditalic.svg#DroidSerifBoldItalic') format('svg');
}

body {
	background: url(/img/bg-body.png);
	font-family: Arial;
	color: #838483;
	padding-top: 40px;
	padding-bottom: 0;
}

#wrapper {
	background: #fff url(/img/bg-mid.png) repeat-y 0 0;
	-webkit-box-shadow: 0 0 30px #999999;
	-moz-box-shadow: 0 0 30px #999999;
	box-shadow: 0 0 30px #999999;
}

/* header
---------------------------------------------------------------*/
#card_previews {
	margin-right: -50px;
}

#card_previews img{
	width:auto;
}
#card_previews img:hover {
    width: 170px;
    height: 190px;
    margin: 5px
}

#design .description {
	width: 415px !important;
	bottom: 38px !important;
}
#design .proefdruk{
	position: absolute;
	bottom: 20px;
	left: 0;
	font-weight: bold;
}
#header {
	background: url(/img/bg-header.png) repeat-x 0 0;
	position: relative;
	padding-top: 104px;
	height: 36px;
}

#home {
	background: url(/img/logo.gif) no-repeat 0 0;
	width: 205px;
	height: 85px;
	top: 11px;
	left: 13px;
}
#logo{
	position:absolute;
	left:13px;
	top:11px;
	width:205px;
	height:85px;
	margin:0;
}
#wrapper #home{display:none;}
#header #home {display:block;}

.img-header {
	position: absolute;
	left: 250px;
	top: -25px;
	margin: 0;
}

.time {
	position: absolute;
	right: 18px;
	top: 80px;
	margin: 0;
}

#headermenu {
	padding: 0;
	position: absolute;
	right: 18px;
	top: 25px;
	margin: 0;
	width: 400px;
}

#headermenu a {
	background: none;
	color: #838483;
	font-size: 12px;
	padding-top: 8px;
}

#headerhelp {
	width: 56px;
}

#headeraccount {
	width: 75px;
}

#headerlogin {
	width: 61px;
}

#headerbasket {
	background: url(/img/ico-basket.png) no-repeat right top !important;
	padding-right: 31px;
	height: 45px !important;
	color: #443b37 !important;
	font-weight: bold;
}

#basket_count {
	font-weight: normal !important;
	color: #838483 !important;
}

#menu {
	clear: both;
	background: #fff url(/img/bg-menu.png) repeat-x 0 0;
	padding: 0 0 0 6px;
	-webkit-box-shadow: 0 2px 2px #CCCCCC, 0 -2px 2px #CCCCCC;
	-moz-box-shadow: 0 2px 2px #CCCCCC, 0 -2px 2px #CCCCCC;
	box-shadow: 0 2px 2px #CCCCCC, 0 -2px 2px #CCCCCC;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	float: left;
	padding-right: 5px;
	position: relative;
}

#menu ul li a {
	height: 35px;
	line-height: 35px;
	display: block;
	font-weight: bold;
	font-size: 16px;
	padding: 0 15px;
	color: #fff;

}

#menu ul li a:hover {
	color: #e1f5fe;
}

#menu ul li a:active {
text-decoration: underline;
}

#menu ul li ul {
	background: #fff url(/img/stiksel_header.png) repeat-x 0 bottom;
	position: absolute;
	left: 0;
	top: 36px;
	width: 220px;
	-moz-box-shadow: 2px 2px 5px #aaaaaa;
	-webkit-box-shadow: 2px 2px 5px #aaaaaa;
	box-shadow: 2px 2px 5px #aaaaaa;
	padding-bottom: 7px;
	display: none;
	z-index: 1000;
	opacity: 0.85;
	filter: alpha(opacity=85);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}

#menu ul li ul li {
	float: none;
}

.sf-sub-indicator {
	display: none !important;
}

#menu ul li ul li a {
	color: #585958;
	font-size: 13px !important;
	line-height: normal;
	padding: 3px 10px;
	line-height: normal !important;
	height: auto;
}

#menu ul li ul li a:hover {
	color: #f05a22;
}


/* mid
---------------------------------------------------------------*/
#mid {
	padding-top: 20px;
}

#categories {
	width: 176px;
}

#categories h3 {
	margin: 0;
	padding-bottom: 25px;
}

#categories h3.active {
	padding: 0;
}

#categories h3 a {
	background: url(/img/bruin_stik.gif) repeat-x 0 0;
	display: block;
	height: 32px;
	line-height: 32px;
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	-moz-box-shadow: 3px 3px 5px #CCCCCC;
	-webkit-box-shadow: 3px 3px 5px #CCCCCC;
	box-shadow: 3px 3px 5px #CCCCCC;
	padding-left: 21px;
}

#categories h3 a:hover  {
	color: #d9d6d5;
}

.category {
	padding: 0 0 25px;
	margin: 0;
	list-style: none;
}

.category li {
	padding-bottom: 0 !important;
	margin: 0 !important;
}

.category li a {
	display: block;
	background: url(/img/stiksel_horizon.png) no-repeat left bottom;
	color: #838483 !important;
	line-height: 29px;
	font-size: 13px;
	padding-bottom: 4px;
	margin-bottom: -4px;
}

.category li.active a,
.category li a:hover {
	color: #f05a22 !important;
}

.category li.active a {
	font-size: 14px;
}

#pagecontent {
	float: right;
	width: 730px;
	margin: 0;
	padding-right: 20px;
}

#pagecontent-footer a{
	color: #ff6600;
	text-decoration: none;
}

#pagecontent-footer a:hover{
	text-decoration: underline;
}

h1 {
	font-size: 26px;
	letter-spacing: 0.04em;
	color: #ff6600;
	font-weight: bold;
	margin: 0 0 15px;
}

h1 a {
	text-decoration: underline !important;
	color: #999;
}

h1 a:hover {
	text-decoration: none !important;
	color: #777;
}

.content {
	line-height: 1.5em;
}

.content p {
	margin: 0;
	padding-bottom: 20px;
}

.kaart-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.kaart-list li {
	float: left;
	width: 200px;
	line-height: 1.1;
	padding-right: 41px;
}

.kaart-list li span {
	display: block;
	margin-bottom: -5px;
}

.kaart-list li h2 {
	font-size: 14px;
}

.kaart-list li h2 a {
	background: url(/img/bg-card-item.png) no-repeat 0 0;
	display: block;
	color: #f05a22;
	padding: 20px 0 0 0;
	width: 200px;
	height: 188px;
	text-align: center;
}

.kaart-list li h2 a:hover {
	color: #999;
}

.kaart-list .bg-card02 h2 a {
	background: url(/img/bg-card-item02.png) no-repeat 0 0;
}

.kaart-list .bg-card03 h2 a {
	background: url(/img/bg-card-item03.png) no-repeat 0 0;
}

#slides {
	background: url(/img/bg-slide.png) no-repeat 0 0;
	height: 283px;
	width: 661px;
	padding: 16px 31px 23px 38px;
}

#slides .bxslider {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 244px;
	overflow: hidden;
	position: relative;
}

#slides .bxslider li {
	float: left;
}

#slides .bxslider li img {
	width: 661px;
	height: 244px;
}

.bx-pager {
	display: none;
}

.bx-controls-direction a {
	display: block;
	width: 28px;
	height: 26px;
	text-indent: -9999em;
	position: absolute;
}

.bx-controls-direction {
	height: 26px;
	position: relative;
}

.bx-controls-direction .bx-next {
	background: url(/img/btn-next.png) no-repeat 0 0;
	float: right;
	right: -20px;
	top: 0;
}

.bx-controls-direction .bx-next:hover {
	background: url(/img/btn-next-o.png) no-repeat 0 0;
}

.bx-controls-direction .bx-prev {
	background: url(/img/btn-prev.png) no-repeat 0 0;
	float: left;
	left: -20px;
	top: 0;
	margin-top: 15px;
}

.bx-controls-direction .bx-prev:hover {
	background: url(/img/btn-prev-o.png) no-repeat 0 0;
}

#body_login #pagecontent input[type="password"],
#body_login #pagecontent input[type="text"] {
	border-left: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	padding: 8px 5px;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
	width: 165px;
}

#pw_recovery,
#registreer,
#login {
	width: 356px;
	padding: 0;
	border: 1px solid #e5e5e5;
	margin: 0;
	height: auto;
	font-size: 14px;
	padding-bottom: 10px;
}

#login {
	margin-bottom: 26px;
}

#registreer {
	float: right;
}

#pw_recovery {
	clear: inherit !important;
	float: right !important;
}

#body_login .align_bottom {
	position: inherit !important;
	margin: 0 auto;
	padding: 0;
	display: block;
	width: 198px;
	height: 36px;
	border: 1px solid #a6a6a6;
	font-size: 15px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	-moz-box-shadow: inset 1px -1px 0 0 #e8cf99;
	-webkit-box-shadow: inset 1px -1px 0 0 #e8cf99;
	box-shadow: inset 1px -1px 0 0 #e8cf99;
	float: none !important;
	background-color: #a6a6a6;
}

#body_login .align_bottom:hover {
	background-color: #8c8c8c;
}

#body_login #registreer .align_bottom,
#body_login #login .align_bottom {
	margin-top: 8px;
}

#body_login #pw_recovery .align_bottom {
	margin-top: 12px;
}

#body_login #pagecontent h2 {
	text-align: center;
	background: url(/img/bruin_stik.gif) repeat-x 0 0;
	margin: 0;
	margin-bottom: 15px;
	height: 32px;
	color: #fff;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 32px;
}

#body_login #pagecontent form {
	margin: 0 20px;
}

#body_login #pagecontent form table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

#body_login #pagecontent form table td {
	padding: 4px 0;
}

#body_login #pagecontent form table td.label {
	width: 137px;
}

#body_login .errormsg {
	margin: 0;
}

#pw_recovery p {
	margin: 0;
	padding: 0 20px 16px;
}

input#nieuwsbrief {
	margin-top: 11px;
}

#login_nieuwbrief {
	font-size: 12px;
	margin-top: 9px;
}

#crumbs {
	display: none;
}


/* footer
---------------------------------------------------------------*/
#footer {
	background: url(/img/bg-footer-bot.png) repeat-x left bottom;
	padding-bottom: 10px;
}

#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer-inner {
	background: url(/img/bg-footer-top.png) repeat-x left top;
	overflow: hidden;
	padding-top: 31px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}

.f-section {
	float: left;
	width: 172px;
	font-size: 11px;
	padding-left: 15px;
}

.f-section-last {
	float: right;
	width: 170px;
	font-size: 11px;
}

.f-section-last p {
	margin: 0;
}

.betaalmethodes {
	padding-bottom: 15px;
}

.social-media a {
	margin-right: 8px;
}

.f-section-last .title {
	padding-bottom: 8px;
}

.f-section h3 {
	font-size: 12px;
	padding: 0 0 8px;
	margin: 0;
}

.f-section ul li {
	padding-bottom: 8px;
}

.f-section ul li a {
	color: #838483;
}

.f-section ul li a:hover {
	color: #f05a22;
}

#footer .fnav {
	display: none;
}

.fnav {
	margin: 0 auto;
	width: 960px;
}

.fnav-list {
	list-style: none;
	margin: 0;
	padding: 5px 0 30px;
	overflow: hidden;
}

.fnav-list li {
	float: left;
	color: #838483;
	padding-right: 10px;
}

.fnav-list li span,
.fnav-list li a {
	color: #838483;
	font-size: 12px;
	margin-right: 10px;
}

.fnav-list li a:hover {
	color: #f05a22;
}
#design {
    background: url("/img/bg-preview.png") no-repeat scroll center bottom transparent;
	height: 371px !important;
}
#knav {
    background: url("/img/bg-knav.png") no-repeat scroll left bottom transparent;
}

#body_design #choose_preview {
    font-size: 18px;
	font-family: Arial;
	background: url(/img/knop-oranje.png) no-repeat right top;
	height: 45px;
	padding: 0 10px;
	text-align: center;
	line-height: 41px;
	width: 195px;
}

#body_design #choose_preview:hover {
	background: url(/img/oranje-lIichter.png) no-repeat right top;
}

#choose_preview, #direct_basket {
	right: 0 !important;
}

#next_page {
	background-image: url(/img/arrow_right.png) !important;
}

#prev_page {
	background-image: url(/img/arrow_left.png) !important;
}

#body_account p {
	margin: 0;
}

#body_account p span {
	display: block;
	color: #999999;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px;
}

#step_back {
    background: url("/img/step-back.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #838483;
    text-align: left;
}

#body_account_settings #pagecontent br,
#body_account #pagecontent br {
	display: none;
}

#body_account_settings .button,
#body_account .button {
	background: url("/img/knop-oranje.png") no-repeat right top;
	font-size: 15px;
	margin-bottom: 5px;
	float: none !important;
	display: block;
	font-weight: bold;
	line-height: 41px;
	height: 45px;
	padding: 0 10px 0 20px;
}

#body_account_settings .button:hover,
#body_account .button:hover {
	background: url(/img/oranje-lIichter.png) no-repeat right top;
}

#body_account_password input[type="text"],
#body_account_password input[type="password"],
#body_account_address input[type="text"],
#body_account_address input[type="password"] {
	border-left: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #b4b4b4 !important;
	border-top: 1px solid #b4b4b4 !important;
	padding: 8px 1%  !important;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
	width: 98%;
}

#body_account_address #pagecontent td {
	padding: 5px 0;
}

#body_account_address select {
	padding: 9px 1%;
	width: 100%;
}

#body_account_nieuwsbrief #pagecontent input[type="submit"],
#body_account_password #pagecontent input[type="submit"],
#body_account_address #pagecontent input[type="submit"] {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background: url(/img/order_card.png) no-repeat 0 0;
	padding-left: 0;
	width: 150px;
	height: 54px;
	line-height: 50px;
	margin-left: 0;
	-moz-box-shadow: 1px 1px 4px #999;
	-webkit-box-shadow: 1px 1px 4px #999;
	box-shadow: 1px 1px 4px #999;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	padding-bottom: 4px;
}

#body_account_nieuwsbrief #pagecontent input[type="submit"]:hover,
#body_account_password #pagecontent input[type="submit"]:hover,
#body_account_address #pagecontent input[type="submit"]:hover {
	background: url(/img/order_card_o.png) no-repeat 0 0;
	text-decoration: none;
}

#body_account_password #pagecontent table {
	width: 470px;
}

#body_account_nieuwsbrief #pagecontent input[type="checkbox"],
#body_account_nieuwsbrief #pagecontent label {
	margin: 0 5px 0 0;
}

#body_account_nieuwsbrief #pagecontent div {
	padding-bottom: 10px;
}


/* # clearfix
---------------------------------------------------------------------------- */


#menu ul {
	zoom: 1;
}

#menu ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}


/* Bootstrap tabels toegevoegd */
.table {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 2px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table thead > tr > th {
    border-bottom: 2px solid #DDDDDD;
    vertical-align: bottom;
  }

.table h2 {
margin-left: 10px;
  }



.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
  border-color: #eed3d7;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #faf2cc;
  border-color: #f8e5be;
}

@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
    background-color: #fff;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

#body_eigen_collectie #home,#body_edit #home, #body_voorbeeld #home, #body_keuze #home, #body_bestel_details #home, #body_basket #home, #body_address_n #home, #body_bedankt #home {
width: 215px !important;
}

.eigen-collectie-cards {
    float:left;
}

.eigen-collectie-cards #trash_button {
    margin-top:10px;
}

/* calculator*/
#calculator .ttl {
	margin: 0;
	padding: 16px 0 4px 0;
}

#calculator .amount .ttl {
	padding: 16px 0 10px 0;
}

#calculator .result-cal input {
	border: none;
	padding: 0;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#amount-envelop,
#amount-card {
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	width: auto !important;
	padding: 0;
	height: auto;
}

#result-input {
	font-size: 18px;
	font-weight: bold;
}

#result {
	color: #000;
}

.inclusief {
	color: #616161;
	font-size: 12px;
	display: block;
	line-height: 1.1;
	margin-top: -15px;
}

.result-cal {
	margin-top: 18px;
	margin-bottom: 60px;
	background: #e5eee7;
	width: 363px;
	padding: 12px 20px 0;
}

#calculator #message {
	display: none;
	width: 403px;
	text-align: center;
	color: #F00;
	font-size: 18px;
	font-family: Arial;
}

.page-cal {
	width: 705px !important;
	height: 115px !important;
}

.page-cal a {
	top: 62px !important;
	font-size: 20px !important;
	height: 34px !important;
	line-height: 34px !important;
}

#calculator #sliderb,
#calculator #slider {
	background: #6f6f6f;
	height: 5px;
	position: relative;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 193px;
}
#calculator .ui-slider-horizontal .ui-slider-handle {
	background: #efefef;
	margin: 0;
	border: 1px solid #878787;
	height: 16px;
	width: 16px;
	top: -6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left:-8px;
}
#calculator table {
	width: 422px;
}
.result-cal table {
	width: 379px !important;
}
.wrap-sel {
	height: 31px;
	position: relative;
}
#calculator select {
	height: 31px !important;
	line-height: 31px;
	position: relative;
	width: 190px !important;
	z-index: 10;
}
#calculator span.select {
	cursor: pointer;
	-moz-box-shadow: inset 1px -1px #fff;
	-webkit-box-shadow: inset 1px -1px #fff;
	box-shadow: inset 1px -1px #fff;
	background: #efefef url(/img/dd.png) no-repeat right center;
	border: 1px solid #d3d3d3;
	bottom: 0;
	cursor: default;
	float: left;
	height: 31px;
	left: 0;
	line-height: 32px;
	position: absolute;
	text-indent: 10px;
	width: 190px;
	z-index: 1;
}

#total {
	font-size: 12pt;
}
#total, #price, #priceb, #pricec, #priced, #pricee, #pricef, #pricez {
	text-align: right;
	width: 60px;
}
#quoteme input {
	background: transparent;
	color: #ddd;
	font-family: Georgia;
	border: 0px solid #fff;
	margin-bottom: 20px;
}
#quoteme label {
	float: left;
	display: block;
	padding-top: 10px;
	display: block;
	color: #fff;
	font-family: Georgia;
	width: 340px;
}
#contenta {
	padding:1px 0px 20px 0px;
	display: block;
	width:400px;
	text-align: left;
	font-size: 12pt;
}
.pricepara {
	text-align: right; font-size: 14pt;
}
.pricepara #totalprice {
	padding-top: 0px;
	margin-top: 0px;
	border: 0px solid #000;
	font-size: 14pt;
	font-weight: bold;
}
#total {
	font-family: 'Georgia', arial;
	width: 100px;
	border: 0px solid #000;
	background: transparent;
	font-size: 38px;
	color: #fff;
}
#quoteme {
	width: 400px;
	display: block;
	background: #000;
	float :left;
	clear: both;
	padding: 30px 20px 10px 30px;
}
#slider, #sliderb, #sliderc, #sliderd, #slidere {
	width: 209px;
}
input#submitbtn {
	display: block;
	width: 200px;
	height: 38px;
	margin: 10px 0px 10px 0px;
	background: #ffe906;
	color: #000;
	font-size: 14pt;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
}
#amount-card, #amount-envelop {border:none; background:none; width:40px !important; text-align:left; color:#262626; font-size:14px; font-family:Arial, Helvetica, sans-serif;position:relative;left:-14px;top:-4px !important;text-align:right;}
.ui-slider .ui-slider-range{border:none !important;background-color:#199eba !important;}
.lightbox{cursor:pointer;}
#bg-lightbox{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#000;
	left:0;
	top:0;
	z-index:1000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter: alpha(opacity=10); opacity:0.1;
}

#lightbox{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:fixed;
	width:403px;
	height:395px;
	left:50%;
	top:50%;
	margin:-189px 0 0 -229px;
	background-color:#fff;
	z-index:1001;
	padding:19px 28px 0 28px;
	overflow:hidden;
}

#lightbox iframe{
	height:395px;
	width:403px;
	border:none;
	overflow:hidden;
}

#lightbox .close{
	cursor:pointer;
	text-indent:-9999em;
	height:10px;
	width:10px;
	background:url(/img/close-popup.png) no-repeat 0 0;
	position:absolute;
	right:20px;
	top:24px;
}
/* Einde Bootstrap Tabels */


#body_keuze .choice_div:nth-child(3) {
    display: none !important;
}

#body_keuze .choice_div:nth-child(2) {
    position: absolute;
		top: 100px;
	left: 240px;

}

#body_keuze .choice_div:nth-child(4) {
    position: absolute;
	top: 100px;
    right: 240px;
}

#body_keuze .choice_div:nth-child(2) .img_div {
position: relative;
    bottom: -30px;
}

#body_keuze .choice_div:nth-child(4) .img_div {
position: relative;
    bottom: -30px;
}

#geslacht {
	margin-left: 0;
}

#voor_preview > img {
	max-width: 350px;
}
