body {
	background: url(/img/bg-body.png);
	padding-top: 0;
	padding-bottom: 0;
}

#home {
	height: 85px;
	width: 205px;
}

#header {
	background: url(/img/bg-header.png) repeat-x 0 0;
	height: 120px;
	padding-top: 0;
}

#wrapper {
	-webkit-box-shadow: 0 10px 30px #999999;
	-moz-box-shadow: 0 10px 30px #999999;
	box-shadow: 0 10px 30px #999999;
	background: url(/img/bg-wrapper.png) repeat-y 0 0;
	overflow: hidden;
}

#headermenu {
	top: 15px;
}

.button {
	font-size: 18px;
	font-family: Arial;
	background: #a6a6a6;
	height: 45px;
	padding: 0 10px;
	text-align: center;
	line-height: 45px;
}

.button:hover {
	background: #8c8c8c;
}

#pagecontent {
	background: url(/img/bg-footer-bot.png) repeat-x left bottom;
	padding-bottom: 70px;
	border: none;
	width: 920px;

}

#canvasbackground {
	margin-bottom: -13px !important;
}

#body_edit #pagecontent {
	min-height: 601px;
}

.ui-accordion-header {
	padding-bottom: 0;
}


body#body_bestel_details #pagecontent {
	background-color: #fff;
}


.ui-accordion .ui-accordion-header a {
	background: url(/img/btn_accordeon.png) no-repeat 0 0;
	margin-top: 1px;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	height: 28px;
	line-height: 24px;
	padding: 0 0 0 20px !important;
	-moz-box-shadow: 1px 1px 4px #aaaaaa;
	-webkit-box-shadow: 1px 1px 4px #aaaaaa;
	box-shadow: 1px 1px 4px #aaaaaa;
}

.ui-accordion .ui-accordion-header a:hover {
	background: url(/img/accordeon_bg.png) no-repeat 0 0;
}

.ui-accordion-header.ui-state-active a:hover,
.ui-accordion-header.ui-state-active a {
	background: url(/img/accordeon_bg.png) no-repeat 0 0;
}

#accordion div.ui-accordion-content {
	border: 1px solid #b8b8b8 !important;
	border-top: none !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-top: -1px !important;
	width: 286px;
	background: none !important;
}

#body_enveloppen #accordion div.ui-accordion-content {
	border: 1px solid #b8b8b8 !important;
}

input[type="file"],
input[type="password"],
input[type="text"] {
	border-left: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #b4b4b4 !important;
	border-top: 1px solid #b4b4b4 !important;
	padding: 8px 5px  !important;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
}

#body_enveloppen #accordion .ui-accordion-content {
	background: none;
}

#headernavigation {
	background: url(/img/bg-headernavigation_buttons.png) no-repeat 0 0;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 274px;
	top: 6px;
	height: 86px;
	width: 308px;
}

#headernavigation a {
	background-image: url(/img/headernavigation.png);
	background-repeat: no-repeat;
	height: 78px !important;
	color: #838483;
	width: 77px;
}

#headernavigation a img {
	display: none;
}

#headernavigation a:hover {
	color: #838483;
}

#choose_card {
	background-position: 21px 34px;
}

.headernavigation_buttons_active:hover,
.headernavigation_buttons_active {
	color: #EC5A22 !important;
}

#choose_card.headernavigation_buttons_active {
	background-position: -119px -78px;
}

#edit_card {
	background-position: 12px -78px;
}

#edit_card.headernavigation_buttons_active {
	background-position: -121px -78px;
}

#address_card {
	background-position: 15px -225px;
}

#address_card.headernavigation_buttons_active {
	background-position: -121px -78px;
}

#pay_card {
	background-position: 12px -365px;
}

#pay_card.headernavigation_buttons_active {
	background-position: -122px -78px;
}

.combolist a {
	display: block !important;
}

.ui-widget-content,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none !important;
}

#save_user_design,
#save_design,
#imageaddformclose,
#pt-upload input[type="submit"],
#choose_font,
#add_photo,
#add_text {
	border: 1px solid #d3d3d3;
	background: #efefef;
	height: 29px;
	line-height: 10px;
	padding-bottom: 5px;
	cursor: pointer;
	-moz-box-shadow: inset 1px -1px 0 0 #eeeeee;
	-webkit-box-shadow: inset 1px -1px 0 0 #eeeeee;
	box-shadow: inset 1px -1px 0 0 #eeeeee;
}

#save_user_design:hover,
#save_design:hover,
#imageaddformclose:hover,
#pt-upload input[type="submit"]:hover,
#choose_font:hover,
#add_photo:hover,
#add_text:hover {
	background: #dfdfdf;
}

#step_back {
	background: url(/img/step-back.png) no-repeat 0 center;
	color: #838483;
	text-align: left;
	margin-top: 29px;
}

#body_edit #step_back {
	margin-top: 34px;
}

#step_forward {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background: url(/img/order_card.png) no-repeat 0 0;
	padding-left: 20px;
	width: 200px;
	height: 54px;
	line-height: 54px;
	margin-left: 40px;
	-moz-box-shadow: 1px 1px 4px #999;
	-webkit-box-shadow: 1px 1px 4px #999;
	box-shadow: 1px 1px 4px #999;
	text-align: left;
}

input#step_forward {
	height: 54px;
	line-height: 54px;
	padding-bottom: 3px;
}

#body_edit #step_forward {
	width: 310px;
}

#step_forward:hover {
	background: url(/img/order_card_o.png) no-repeat 0 0;
}

#nav_remark_div,
#nav_buttons {
	width: 880px;
}

#nav_remark_div {
	bottom: 76px;
	color: #838483;
}

#rebate .button {
	height: 25px;
	line-height: 25px;
	padding-bottom: 3px;
	font-size: 18px;
}

#editor_top_border, #editor_bottom_border {
	display: none;
}

#skip_design {
	display: none;
}

#step_forward_alternate {
	background: url(/img/step-forward.png) no-repeat right center;
	color: #838483;
	width: auto;
	padding-right: 22px;
	margin-top: 35px;
	height: 16px;
}

#order_card {
	text-decoration: none !important;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background: url(/img/order_card.png) no-repeat 0 0;
	padding-left: 20px;
	width: 307px;
	height: 54px;
	line-height: 54px;
	margin-left: 40px;
	-moz-box-shadow: 1px 1px 4px #999;
	-webkit-box-shadow: 1px 1px 4px #999;
	box-shadow: 1px 1px 4px #999;
}

#order_card:hover {
	background: url(/img/order_card_o.png) no-repeat 0 0;
}

#body_edit .rightdiv {
	width: 329px;
}

#body_edit .leftdiv {
	width: 582px;
}

h1 {
	margin-left: 0 !important;
}


#nav_buttons {
	bottom: 18px;
}

#body_keuze .choice_div {
	padding: 0 10px;
	width: 198px;
}

#body_keuze .choice_center {
	width: 654px;
}

#body_keuze .choice_center h1 {
	padding-bottom: 57px;
}

#body_keuze .choice_div_content {
	background: url(/img/keuze_bg_small.gif) no-repeat 0 73px;
	width: 198px;
}

#body_keuze .choice_div a:hover .choice_div_content {
	background-image: url(/img/keuze_bg_small_o.gif);
}

#body_keuze .choice_div a:hover .button {
	background: #8c8c8c;
}

#body_address .address table tr td {
	padding: 2px 0;
}


.address input[type="text"],
.address select {
	width: 486px;
	font-size: 14px;
}

.address select {
	border-left: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #b4b4b4 !important;
	border-top: 1px solid #b4b4b4 !important;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
	height: 33px;
	width: 100%;
	padding: 5px 0 5px 1%;
}

.address input.short {
	width: 175px;
}

#suffix,
.address #address_last_name,
#address_suffix,
#address_city {
	width: 184px;
}

select[name="papiersoort"],
select[name="enveloppen"] {
	width: 197px;
}

.col2, .col3, .col4 {
	width: auto;
}

#order_present_preview {
	padding: 0 !important;
	background: none !important;
	width: 228px !important;
	border: 1px solid #d3d3d3;
	height: auto !important;
	text-align: center;
}

#body_address #order_present_preview {
	margin-top: 63px !important;
}

#order_present_preview .title {
	background: #ec5a22;
	font-size: 13px;
	font-family: Arial;
	padding: 0 10px !important;
	height: 25px;
	line-height: 25px;
	text-align: left;
}

#body_address #papier_content {
	border: none;
	margin: 0;
	padding: 20px;
	width: 188px;
}

#body_address #papier_content p {
	margin: 0;
}

#body_address #papier_content ul {
	margin: 15px 0 0 0;
}

#enveloppen_preview {
	position: absolute;
	left: 20px;
	top: 629px;
	height: auto !important;
	background: none !important;
	border: 1px solid #d3d3d3;
	width: 670px;
}

#enveloppen_preview .title {
	background: #ec5a22;
	font-size: 13px;
	font-family: Arial;
	padding: 0 10px !important;
	height: 25px;
	line-height: 25px;
	text-align: left;
}

#enveloppen_preview table {
	border-spacing: inherit;
	margin: 20px;
}

.enveloppen_beschrijving {
	font-size: 12px;
	padding-top: 20px;
}

.enveloppen_beschrijving a {
	color: #ec5a22;
}

.enveloppen_beschrijving a:hover {
	text-decoration: underline;
}

#body_address #pagecontent {
	min-height: 940px;
}

#body_enveloppen .leftdiv {
	float: none !important;
	width: auto !important;
}

#body_enveloppen .rightdiv {
	float: none !important;
	position: absolute;
	right: 70px;
	top: 102px;
	padding-top: 0;
	width: 252px;
}

#body_enveloppen #accordion div.ui-accordion-content {
	color: #838483 !important;
}

#body_enveloppen #accordion h3 {
	display: none;
}

#body_enveloppen #accordion {
	width: 252px !important;
}

#body_enveloppen #accordion table td {
	width: 100px !important;
}

#body_enveloppen #accordion .ui-accordion-content {
	height: auto !important;
	border: none;
	padding: 0 !important;
}

#body_enveloppen .col2 {
	width: 195px;
}

#body_enveloppen .col4 input {
	width: 185px;
}

#body_enveloppen .address {
	height: auto;
	border: 1px solid #D3D3D3;
	padding: 20px;
	width: auto;
}

#body_enveloppen .address table {
	width: 554px;
	top: 0;
}

#body_enveloppen .address table td {
	height: 38px;
}

#body_enveloppen .address input[type="text"],
#body_enveloppen .address select {
	width: 430px;
	font-size: 14px;
}

#body_enveloppen .col3 {
	width: 80px;
}

#body_enveloppen .address select {
	width: 442px;
}

#body_enveloppen .address .col4 input[type="text"] {
	width: 147px;
}

#body_enveloppen .address .col2 input[type="text"] {
	width: 183px;
}

#body_enveloppen #pagecontent {
	min-height: 683px;
	position: relative;
}

#body_enveloppen #step_forward {
	width: 240px;
}

#body_verzend #outer_een .img_div span {
	top: 68px;
}

#body_verzend #outer_meer .img_div span {
	top: 73px;
}

#body_verzend #outer_thuis .img_div span {
	top: 75px;
}

#body_verzend .choice_div {
    width: 175px;
}
#body_verzend #outer_meer {
    margin: 0 20px;
}
#body_cadeau .choice_div .button, #body_verzend .choice_div .button {
    width: 175px !important;
}
#body_verzend #outer_een .img_div span {
    top: 68px;
}
#body_verzend #outer_meer .img_div span {
    top: 73px;
}
#body_verzend #outer_thuis .img_div span {
    top: 75px;
}

#body_cadeau_category #categories {
	margin-right: 20px;
}

#save_design {
	clear: both;
	margin: 0 0 7px 0;
}

.ui-accordion-content input#id,
.ui-accordion-content input#title,
.ui-accordion-content input#description,
.ui-accordion-content input#sort_order {
	padding: 3px 5px !important;
	margin: 0 0 7px 0;
	width: 282px !important;
}

.ui-accordion-content select#designer_code,
.ui-accordion-content select#category {
	padding: 3px 5px !important;
	width: 294px;
	margin: 0 0 7px 0;
}

#enveloppen_thumbs {
	overflow: hidden;
	padding: 20px 0 0 0;
}

.enveloppen_beschrijving {
	padding: 0 20px 20px;
}

#body_enveloppen #enveloppen_thumbs div {
	width: 95px;
}

#price_table td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#body_bestel_details select {
	padding: 8px 0;
}

#body_bestel_details #step_forward {
	width: 252px;
}

#body_address_n #left_div input[type="text"] {
	width: 98%;
	padding: 8px 1% !important;
}

#body_address_n #left_div select {
	padding: 8px 0;
	width: 100%;
}

#body_address_n #pagecontent .line {
	border: none !important;
}

#body_address_n #pagecontent hr {
	background: #838483;
}

#body_address_n #left_div table {
	width: 100% !important;
	padding-right: 0 !important;
}

#body_address_n #left_div {
	border-right: 1px solid #838483 !important;
	width: 615px;
	padding-right: 15px;
}

#body_address_n #left_div h3 {
	margin-bottom: 5px;
}

#body_address_n #left_div table {
	border-right: none !important;
}

#body_address_n #left_div table td,
#body_address_n #right_div table td {
	padding-top: 3px;
	padding-bottom: 3px;
}

#body_address_n #send_date_picker {
	margin-top: 0;
}

#body_basket #nav_buttons .button[href="/"] {
	background: url(/img/step-back.png) no-repeat 0 center;
	color: #838483;
	text-align: left;
	margin-top: 16px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 18px;
}

#body_basket #nav_buttons .button[href="/"]:hover {
	text-decoration: underline;
}

#body_basket #nav_buttons .button[href="/address_n"] {
	text-decoration: none !important;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background: url(/img/order_card.png) no-repeat 0 0;
	padding-left: 20px;
	width: 222px;
	height: 54px;
	line-height: 54px;
	margin-left: 40px;
	-moz-box-shadow: 1px 1px 4px #999;
	-webkit-box-shadow: 1px 1px 4px #999;
	box-shadow: 1px 1px 4px #999;
}

#body_basket #nav_buttons .button[href="/address_n"]:hover {
	background: url(/img/order_card_o.png) no-repeat 0 0;
}

#body_basket #basket_n td {
	padding-top: 4px;
	padding-bottom: 4px;
}

#body_basket #basket_n .button {
	color: #FF6600 !important;
	background: none !important;
	padding: 0;
	width: auto;
	margin-right: 15px;
	text-transform: capitalize;
	height: 34px;
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 14px;
}

#body_basket #basket_n .button:hover {
	text-decoration: underline;
}

#body_basket .line {
	border-color: #838483;
}


/* # clearfix
---------------------------------------------------------------------------- */

#patternselect_div,
#bt-pattern,
#bt-color,
#pagecontent {
	zoom: 1;
}

#patternselect_div:after,
#bt-pattern:after,
#bt-color:after,
#pagecontent:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#switch_card { display: none; }

#body_edit #nav_buttons {
	width: 920px !important;
}
