<div class="container">
    <h3>Wanneer wordt mijn bestelling bezorgd?</h3>
    <p>
        <b>Pasen</b>
    </p>
    <p>
        Zondag 16 april is Pasen. De zondagproductie schuift een dag op, naar de maandag. Op maandag (tweede paasdag) zullen we alle orders die op paid en/of akkoord staan, produceren, voor zover het om pakketzendingen gaat. Deze orders worden dinsdag 18 april bezorgd. De proefdrukken en de overige brievenbuspoststukken zullen we dinsdag 18 april drukken en verzenden. Voor PostNL is dinsdag 18 april eigenlijk een maandag, dus op die dag wordt er geen reguliere brievenbuspost bezorgd.
    </p>
    <p>
        Klanten kunnen bij het bestellen maandag (17 april) als mogelijke verzenddag kiezen, maar voor brievenbuspost geldt dus dat die een dag later (op dinsdag) pas verzonden wordt. We kunnen in het bestelproces op dit moment helaas nog geen onderscheid maken tussen pakketzendingen en brievenbuspost.
    </p>
    <p>
        <b>Koningsdag</b>
    </p>
    <p>
        Donderdag 27 april vieren we de verjaardag van onze koning. Deze dag is zowel de drukkerij als PostNL niet actief. Alle orders zullen doorschuiven naar vrijdag 28 april en bezorgd worden op zaterdag 29 april.
    </p>
    <p>
        <b>Hemelvaartsdag</b>
    </p>
    <p>
        Donderdag 25 mei is het Hemelvaartsdag. Deze dag is zowel de drukkerij als PostNL niet actief. Alle orders zullen doorschuiven naar vrijdag 26 mei en bezorgd worden op zaterdag 27 mei.
    </p>
    <p>
        <b>Pinksteren</b>
    </p>
    <p>
        Zondag 4 juni is het Pinksteren. De zondagproductie schuift een dag op, naar de maandag. Op maandag (tweede pinksterdag) zullen we alle orders die op paid en/of akkoord staan, produceren, voor zover het om pakketzendingen gaat. Deze orders worden dinsdag 6 juni bezorgd. De proefdrukken en de overige brievenbuspoststukken zullen we dinsdag 6 juni drukken en verzenden. Voor PostNL is dinsdag 6 juni eigenlijk een maandag, dus op die dag wordt er geen reguliere brievenbuspost bezorgd.
    </p>
    <p>
        Klanten kunnen bij het bestellen ook rond Pinksteren de maandag (5 juni) als mogelijke verzenddag kiezen, maar voor brievenbuspost geldt dus dat die een dag later (op dinsdag) pas verzonden wordt. We kunnen in het bestelproces op dit moment helaas nog geen onderscheid maken tussen pakketzendingen en brievenbuspost.
    </p>
    <h3>
        Proefdruk en kleine oplages
    </h3>
    <p>
        De proefdrukken van LOVZ wordenbezorgd door PostNL. De proefdrukken passen door de brievenbus. Een bestelling tot en met 19 kaarten of enveloppen worden bezorgd door PostNL. Deze kaarten passen door de brievenbus.*
    </p>
    <p>
        <strong>Let op! Voor al onze proefdruk bestellingen geldt: elke werkdag v&oacute;&oacute;r 18:00 uur besteld = dezelfde dag nog gedrukt en verzonden.*</strong>
    </p>
    <p style="font-size:12px; line-height: 1.2em;">
        *Deze postvervoerders dragen de uiterste zorg over jouw bestellingen. Echter, LOVZ heeft geen invloed op de snelheid en juistheid van de bezorging. In het overgrote deel van de gevallen worden de bestellingen op tijd geleverd. <strong>PostNL mag er 2 dagen over doen!</strong>&nbsp;Mocht het voorkomen dat dit niet geval is dan vernemen wij dit graag van je zodat we per omgaande actie kunnen ondernemen.
        <a href="http://pooz.nl/contact">
            Neem dan contact op
        </a>
    </p>
    <h3>
        >Pakketpost - vanaf 20 stuks
    </h3>
    <p>
        Alle kaart&nbsp;en envelop bestellingen vanaf 20 stuks worden als pakketpost aangeboden door PostNL.
    </p>
    <p>
        <strong>Let op! Voor al onze pakketbestellingen geldt: elke werkdag v&oacute;&oacute;r 18:00 uur besteld = dezelfde dag nog gedrukt en verzonden.*</strong>
    </p>
    <p>
        Normaal gesproken wordt op de eerstvolgende werkdag je bestelling bezorgd. B.v. vrijdag voor&nbsp;18:00 uur besteld, wordt als pakket aangeboden op zaterdag. Echter hebben we geen &nbsp;invloed op de levertijden, dat bepaald PostNL zelf. Op zaterdag drukken wij niet! De bestellingen die dan binnen zijn worden op zondag gedrukt en maandag geleverd door PostNL! Tijdens het bestellen heb je de mogelijkheid zelf de verzenddatum van je bestelling te kiezen.
    </p>
    <p style="font-size:12px; line-height: 1.2em;">
        *Deze postvervoerders dragen de uiterste zorg over jouw bestellingen. Echter, LOVZ heeft geen invloed op de snelheid en juistheid van de bezorging. In het overgrote deel van de gevallen worden de bestellingen op tijd geleverd. <strong>Je ontvangt per mail een &#39;track en trace code&#39; waarmee je je pakket kunt volgen!</strong> Mocht het voorkomen dat dit niet geval is dan vernemen wij dit graag van je zodat we per omgaande actie kunnen ondernemen.
        <a href="http://pooz.nl/contact">
            Neem dan contact met ons op.
        </a>
        </span>
    </p>
    <div>
        <h3>
            Klachten over bezoring PostNL
        </h3>
        <p>
            Een klacht over de bezorging van je bestelling kun je altijd bij PostNL deponeren. Je kunt dat snel eenvoudig online doen via:
            <a href="http://www.postnl.nl/voorthuis/brieven/postbezorging">
                www.postnl.nl/voorthuis/brieven/postbezorging
            </a>
            <br /> Ben je niet tevreden, bekijk dan de service-informatie over onze garantie.
        </p>
        <p>
            Zijn er vragen?
            <a href="http://lovz.nl/contact">
                Neem dan gerust contact op!
            </a>
        </p>
    </div>
</div>