<div class="footerBox" style="background: #7694a4;">
    <div class="container">
        <div class="center">
            <div class="left"><strong>Over LOVZ</strong>
                <p>Ook graag een origineel kaartje, en je eigen idee&euml;n erin verwerken? Hier bij Lovz vind je hippe en trendy designs die de basis zijn voor jouw eigen ontworpen kaartjes. Je hoeft echt geen grafisch ontwerper te zijn. De kaartjes bij Lovz met elementen die je eindeloos kan combineren. Allemaal van top kwaliteit. Onze kaarten zijn gemakkelijk zelf op te aan te passen en te bestellen. Direct vanuit je luie stoel, op je computer of tablet, 7 dagen per week en 24 uur per dag! En wil je iets speciaals of enkele ontwerpen samenvoegen? Dan kan dat natuurlijk. Dan wordt je kaart speciaal voor jou aangepast. We denken met je mee, vertalen jullie wensen zo goed mogelijk en zorgen ervoor dat jij prachtige kaartjes ontvangt. We staan voor onze kaarten en kwaliteit en leveren graag een topproduct met goede service!</p>
            </div>
            <div class="right"><strong>Informatie</strong>
                <address>Woudenbergseweg 21
                    <br /> 3707 HW Zeist
                    <br />
                    <br /> KVK-nr. 68238975
                    <br /> BTW-nr. NL857356501B01
                    <br />
                    <br />
                    <a href="index.html#">serviceteam@lovz.nl</a>
                </address>
            </div>
        </div>
    </div>
</div>
<div class="container" id="footer">
    <div class="footerBottomBox">
        <div class="center">
            <div class="left">
                <ul class="social">
                    <li>
                        <a href="https://twitter.com/lovzkaarten"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/lovz.nl?ref=hl"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/lovz.nl/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/lovznl/"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+PoozNl/posts"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <div class="clear">&nbsp;</div>
                <p>Made with Love &copy; 2017 LOVZ
                    <a href="mailto:serviceteam@lovz.nl">Vragen? Email</a> of bel 085 - 743 07 68 (werkdagen tot 18.00 uur)</p>
            </div>
            <div class="right"><strong>VEILIG BETALEN</strong>
                <ul class="payment">
                    <li><img alt="" src="/media/payment1.png" /></li>
                    <li><img alt="" src="/media/payment2.png" /></li>
                    <li><img alt="" src="/media/payment3.png" /></li>
                    <li><img alt="" src="/media/payment4.png" /></li>
                    <li><img alt="" src="/media/payment5.png" /></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Element components -->
<script src="/css/js/components/carousel.js"></script>
<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/active-menu-items.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/thumbnail-scroller.js"></script>
<script src="/css/js/components/list.js"></script>
<script src="/common/components-js/vendor/cycle.js"></script>
<script src="/common/components-js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="/common/components-js/vendor/caro.js"></script>
<script src="/common/components-js/navbar.js"></script>
<script src="/common/components-js/custom.js"></script>
<script src="/css/js/components/custom.js"></script>
<script>
$('link[href="/common/editor/editor-mobile.css"]').remove();
</script>