<div class="visual visual--geboortekaartjes text-center">
    <div class="container" style="background-image: url(/media/geboortekaartjesheader.png)">
        <h1>Onze prachtige collectie geboortekaartjes in verschillende stijlen</h1>
    </div>
</div>
<div class="container full-thumbs">
    <div class="cols">
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes/jongen';"><img class="img-responsive img-center" src="/media/jongen.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>jongen</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes/meisje';"><img class="img-responsive img-center" src="/media/meisje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>meisje</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes/tweeling';"><img class="img-responsive img-center" src="/media/tweeling.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>tweeling</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container serviceBox no-top-padding">
    <div class="cols text-center">
        <div class="xs-12 xsm-push-2 xsm-8 sm-push-0 sm-6">
            <div class="servicebox-item">
                <div class="diamond">&nbsp;</div>
                <div class="image"><img alt="" src="/media/nieuw.jpg" /></div>
                <div class="detail">
                    <p>Hier een tekstje over maximaal drie regels met opties</p>
                    <a class="servicebox-button" href="/nieuwste-geboortekaartjes">De nieuwste kaartjes</a>
                </div>
            </div>
        </div>
        <div class="xs-12  xsm-push-2 xsm-8 sm-push-0 sm-6">
            <div class="servicebox-item gray">
                <div class="diamond">&nbsp;</div>
                <div class="image"><img alt="" src="/media/maken.jpg" /></div>
                <div class="detail">
                    <p>Hier een tekstje over maximaal drie regels met opties</p>
                    <a class="servicebox-button" href="/zelf-maken">Zelf maken</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Onze unieke collectie geboortekaartjes voor jongens, meisjes, tweelingen, met of zonder eigen foto.</h2>
    <p>Je bent zwanger, van harte gefeliciteerd! Hier vind je een prachtige collectie geboortekaartjes van LOVZ in verschillende stijlen. De geboortekaartjes kan je in de ontwerp-tool geheel zelf aanpassen! Onze collectie bestaat o.a. uit geboortekaartjes voor jongens, meisjes, tweelingen, met eigen foto en kraamborrel kaartjes. Probeer het gerust even uit! Succes met het maken van je eigen geboortekaartje!</p>
</div>
<div class="container">
    <h2>Zelf online jouw geboortekaartje maken</h2>
    <p>In de categorie geboortekaartjes staan vele soorten geboortekaartjes voor jongens en meisjes en tweelingen. Stoere, hippe, trendy, unieke en geboortekaartjes met ruimte voor een eigen foto. Alle geboortekaartjes kun je zelf online bewerken. Veel elementen staan los op de babykaartjes. Voor specifieke wensen bekijk dan de andere geboortekaartjes categorie&euml;n. Kies eerst je favoriete kaartje en plaats daarna je eigen tekst(en) en maak de kaart helemaal naar wens!</p>
</div>
<div class="container">
    <h3>Maak van je geboortekaartje een cadeautje</h3>
    <p>In de categorie geboortekaartjes staan vele soorten geboortekaartjes voor jongens en meisjes en tweelingen. Stoere, hippe, trendy, unieke en geboortekaartjes met ruimte voor een eigen foto. Alle geboortekaartjes kun je zelf online bewerken. Veel elementen staan los op de babykaartjes. Voor specifieke wensen bekijk dan de andere geboortekaartjes categorie&euml;n. Kies eerst je favoriete kaartje en plaats daarna je eigen tekst(en) en maak de kaart helemaal naar wens!</p>
</div>
<div class="container">
    <h3>Geboortekaartjes maken tips</h3>
    <p>- Proefdruk geboortekaartje: Om zeker te weten dat het geboortekaartje voor je helemaal naar wens is, is het bij ons mogelijk om een &eacute;chte proefkaart te bestellen. Een &eacute;chte proefkaart van je babykaartje ontvang je voor maar &euro; 1,- inclusief de verzendkosten. Daarbij krijg je een setje met de papiersoorten en de kleuren voor de enveloppen.</p>
    <p>- Bewaren geboortekaartje: Ontwerp je kaartje v&oacute;&oacute;r de geboorte en bewaar je favoriete ontwerp(en) op in je eigen collectie. Als de baby is geboren, pas je in je eigen account het kaartje aan met de juiste gegevens van je baby en bestel je de geboortekaartjes gemakkelijk online.</p>
</div>