<div class="container">
    <p>Ben je zwanger van een jongen! Hier vind je een prachtige collectie stoere en vrolijke geboortekaartjes voor een jongen van LOVZ. De geboortekaartjes kan je hier in de ontwerp-tool geheel zelf aanpassen! Een geboortekaartje maken voor een jongen is nog nooit zo leuk én eenvoudig geweest! Succes met het opmaken van je kaartje. Mocht je vragen hebben <a mailto="">mail</a> ons gerust!</p>
    <p>Bestel na het bewerken een <a href="/proefdruk">proefdruk</a> voor 1 euro! Je ontvangt bij je proefdruk een setje van 5 papiersoorten voor het geboortekaartje en 18 kleuren voor je envelop. Zo weet je precies hoe het ontwerp van jouw unieke geboortekaartje eruit komt te zien!</p>
</div>
<div class="container">
    <h2>Onze collectie geboortekaartjes voor een jongen</h2>
</div>