<link href="/css/custom-style.css" media="screen" rel="stylesheet" type="text/css" />
<div class="navbar navbar-style-1 navbar-default-a">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger js-open-middlebar-menu-right-mob" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <a class="logo current-page" href="/"><img alt=" " class="logosmall" src="/media/logo.png" /></a>
            <div class="topbar-menu-left">
                <a href="/bezorging" title="Voor 18:00 besteld, morgen in huis">Voor 18:00 besteld, morgen in huis</a>
                <a href="https://lovz.nl/bezorging">Gratis verzending</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li class="phone">
                        <a class="hphone" href="tel:0857430752" title="085-7430768">
                            <i class="icon icon-phone">&nbsp;</i>
                            <span>085 - 743 07 68</span>
                        </a>
                    </li>
                    <li class="contact">
                        <a class="basket" href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li class="info dropdown js-dropdown">
                        <a class="help js-dropdown-hover" href="/hulp" title="Hulp">
                            <i class="icon icon-info">&nbsp;</i>
                            <span>Info enveloppen en prijzen</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/modelkaartje">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                            <li>
                                <a href="/betalen">Betalen</a>
                            </li>
                            <li>
                                <a href="/bezorging">Bezorging</a>
                            </li>
                            <li>
                                <a href="/direct-verzenden">Direct verzenden</a>
                            </li>
                            <li>
                                <a href="/werkwijze">Hoe werkt het?</a>
                            </li>
                            <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/faq">Veelgestelde vragen</a>
                            </li>
                            <li>
                                <a href="/tevreden">Niet tevreden?</a>
                            </li>
                            <li>
                                <a href="/algemene_voorwaarden">Algemene voorwaarden</a>
                            </li>
                            <li>
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="favourites">
                        <div class="open-favorites-dynamic">
                            <a class="js-favorites-dynamic" href="javascrip:void()">
                                <span class="favorites-dynamic-count">0</span>
                            </a>
                        </div>
                    </li>
                    <li class="account dropdown js-dropdown" id="navbar-logout">
                        <a class="js-dropdown-hover account" href="javascript:void(0);" title="Account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Account</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li>
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="login" id="navbar-login">
                        <a href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <!--li id="navbar-login"><a href="/login" title="Inloggen"><i class="icon icon-user">&nbsp;</i> <span>Inloggen</span> </a></li-->
                    <!--li><a class="basket" href="/basket_n" title="Winkelmandje"><i class="icon icon-basket">&nbsp;</i> <span id="navbar-basket">0 items</span> </a></li-->
                </ul>
            </div>
            <div class="topbar-basket-mob js-open-topbar-basket-menu-mob">
                <i class="icon icon-basket">&nbsp;</i>
            </div>
            <div class="topbar-basket-menu-mob js-topbar-basket-menu-mob">
                <p class="basket-items-count">Je winkelmandje is leeg</p>
                <ul>
                    <li class="mob-basket">
                        <a href="/basket_n">Winkelmand</a>
                    </li>
                    <li class="mob-account">
                        <a href="/account">Account</a>
                    </li>
                    <li class="mob-collection">
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li class="mob-contact">
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="mob-login">
                        <a href="/login">Inloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="logobar">
        <div class="container">
            <div class="cols">
                <div class="xs-3 sm-3 text-left">
                    <a class="logobar-button logobar-button--account" href="/account">
                        <i class="icon icon-user">&nbsp;</i>
                        <span class="desktop-text">MIJN LOVZ</span>
                    </a>
                </div>
                <div class="xs-6 sm-6 text-center">
                    <a class="logo" href="/home"><img alt="Lovz.nl" src="/media/logo.png" /></a>
                </div>
                <div class="xs-3 sm-3 text-right">
                    <a class="logobar-button logobar-button--account" href="/basket_n">
                        <i class="icon icon-basket">&nbsp;</i>
                        <span class="desktop-text">MANDJE (</span>
                        <span class="navbar-basket">0</span>
                        <span class="desktop-text">)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <div class="open-navbar-search js-open-navbar-search">
                    <i class="icon icon-search">&nbsp;</i>
                </div>
                <div class="navbar-search-field js-navbar-search-field js-middlebar-menu-right">
                    <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                        <meta content="https://shop40.kaart-o-matic.nl/zoeken?qry={qry}">
                        <button class="search-button-field">
                            <i class="icon icon-search">&nbsp;</i>
                        </button>
                        <div class="search-input-field">
                            <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                        </div>
                    </form>
                </div>
                <!-- MIDDLEBAR-MENU-LEFT WORDT GEBRUIKT OP MOBIEL HEADER MENU -->
                <ul class="middlebar-menu-left js-middlebar-menu-left md-hide-ib lg-hide-ib">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/geboortekaartjes">Geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/Trouwen">Trouwkaarten</a>
                    </li>
                    <li>
                        <a href="/jubileumkaarten">Huwelijksjubileum</a>
                    </li>
                    <li>
                        <a href="/uitnodigingen">Uitnodigingen</a>
                    </li>
                    <li>
                        <a href="/verhuiskaarten">Verhuiskaarten</a>
                    </li>
                    <li>
                        <a href="/kerstkaarten">Kerstkaarten</a>
                    </li>
                </ul>
                <!-- MIDDLEBAR-MENU-RIGHT WORDT GEBRUIKT OP DESKTOP EN MOBIEL-->
                <ul class="middlebar-menu-right js-middlebar-menu-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="for-desktop">
                        <a href="/geboortekaartjes">Geboortekaartjes</a>
                    </li>
                    <li class="dropdown js-dropdown for-mobile">
                        <a class="js-dropdown-click" href="javascript:void(0);">Geboortekaartjes</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/geboortekaartjes">Alle geboortekaartjes</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/jongen">Jongen</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/meisje">Meisje</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/tweeling_meerling">Tweeling</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/enkele_geboortekaartjes">Enkel &amp; langwerpig</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/klassiek">Traditioneel</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/stoer">Stoer</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/zwart_wit">Zwart &amp; wit</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/hip_en_vrolijk">Hip</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/steren_en_stempels">Sterren</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/stippen_strepen">Stippen &amp; strepen</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/neon_sign">Neon</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/illustratie_en_dieren">Dieren</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/met_foto">Met foto</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/broertje_en_zusje">Broertjes &amp; Zusjes</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/Kraamborrel">Kraamborrel</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartje_belgie">Belgisch vierkant</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/adoptiekaartjes">Adoptiekaartjes</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/zelf_ontwerpen">Zelf maken</a>
                            </li>
                        </ul>
                    </li>
                    <li class="for-desktop">
                        <a href="/Trouwen">Trouwkaarten</a>
                    </li>
                    <li class="dropdown js-dropdown for-mobile">
                        <a class="js-dropdown-click" href="javascript:void(0);">Trouwkaarten</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/Trouwen/save_the_date_kaarten">Save the date kaarten</a>
                            </li>
                            <li>
                                <a href="/Trouwen/Menukaarten">Menukaarten</a>
                            </li>
                            <li>
                                <a href="/Trouwen/chique_en_klassiek">Chique &amp; Klassiek</a>
                            </li>
                            <li>
                                <a href="/Trouwen/kraft_karton_print">Kraft &amp; Karton</a>
                            </li>
                            <li>
                                <a href="/Trouwen/watercolor">Watercolor &amp; Flowers</a>
                            </li>
                            <li>
                                <a href="/Trouwen/basic_en_trendy">Basic &amp; Trendy</a>
                            </li>
                            <li>
                                <a href="/Trouwen/krijtbord_print">Krijtbord look</a>
                            </li>
                            <li>
                                <a href="/Trouwen/stoer_en_hip">Hip en Romantisch</a>
                            </li>
                            <li>
                                <a href="/Trouwen/hout_stoer">Stoer</a>
                            </li>
                            <li>
                                <a href="/Trouwen/bedankkaarten">Bedankkaarten</a>
                            </li>
                            <li>
                                <a href="/Trouwen/brief_bij_trouwkaart">Brief bij trouwkaarten</a>
                            </li>
                            <li>
                                <a href="/Trouwen/zelf_ontwerpen">Zelf maken</a>
                            </li>
                        </ul>
                    </li>
                    <li class="for-desktop">
                        <a href="/jubileumkaarten">Huwelijksjubileum</a>
                    </li>
                    <li class="dropdown js-dropdown for-mobile">
                        <a class="js-dropdown-click" href="javascript:void(0);">Huwelijksjubileum</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/jubileumkaarten/5-jaar-getrouwd">5 jaar getrouwd</a>
                            </li>
                            <li>
                                <a href="/jubileumkaarten/12-5-jaar-getrouwd">12,5 jaar getrouwd</a>
                            </li>
                            <li>
                                <a href="/jubileumkaarten/25-jaar-getrouwd">25 jaar getrouwd</a>
                            </li>
                            <li>
                                <a href="/jubileumkaarten/40-jaar-getrouwd">40 jaar getrouwd</a>
                            </li>
                            <li>
                                <a href="/jubileumkaarten/45-jaar-getrouwd">45 jaar getrouwd</a>
                            </li>
                            <li>
                                <a href="/jubileumkaarten/50-jaar-getrouwd">50 jaar getrouwd</a>
                            </li>
                            <li>
                                <a href="/jubileumkaarten/60-jaar-getrouwd">60 jaar getrouwd</a>
                            </li>
                            <li>
                                <a href="/jubileumkaarten/zelf_ontwerpen">Zelf maken</a>
                            </li>
                        </ul>
                    </li>
                    <li class="for-desktop">
                        <a href="/uitnodigingen">Uitnodigingen</a>
                    </li>
                    <li class="dropdown js-dropdown for-mobile">
                        <a class="js-dropdown-click" href="javascript:void(0);">Uitnodigingen</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/uitnodigingen/verjaardag">Verjaardag</a>
                            </li>
                            <li>
                                <a href="/uitnodigingen/kinderfeestjes">Kinderfeestjes</a>
                            </li>
                            <li>
                                <a href="/uitnodigingen/housewarming">Housewarming</a>
                            </li>
                            <li>
                                <a href="/uitnodigingen/diner">Etentje</a>
                            </li>
                            <li>
                                <a href="/uitnodigingen/communie">Communie</a>
                            </li>
                            <li>
                                <a href="/uitnodigingen/zelf_ontwerpen">Zelf maken</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/verhuiskaarten">Verhuiskaarten</a>
                    </li>
                    <li class="for-desktop">
                        <a href="/kerstkaarten">Kerstkaarten</a>
                    </li>
                    <li class="dropdown js-dropdown for-mobile">
                        <a class="js-dropdown-click" href="javascript:void(0);">Kerstkaarten</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/kerstkaarten/enkel">Enkele kerstkaarten</a>
                            </li>
                            <li>
                                <a href="/kerstkaarten/dubbel">Dubbele kerstkaarten</a>
                            </li>
                            <li>
                                <a href="/kerstkaarten/zakelijk">Zakelijke kerstkaarten</a>
                            </li>
                            <li>
                                <a href="/kerstkaarten/kerst-verhuiskaarten">Kerst verhuiskaarten</a>
                            </li>
                            <li>
                                <a href="/kerstkaarten/menukaarten">Kerst menukaarten</a>
                            </li>
                            <li>
                                <a href="/kerstkaarten/nieuwjaarskaarten-maken">Nieuwjaarskaarten</a>
                            </li>
                        </ul>
                    </li>
                    <li class="xs-hide-ib xsm-hide-ib sm-hide-ib">
                        <div class="open-favorites-dynamic">
                            <a class="js-favorites-dynamic" href="javascrip:void()">
                                <span class="favorites-dynamic-count">0</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu-mob-middlebar-left js-open-middlebar-menu-right-mob">
                <i class="icon icon-hamburger">&nbsp;</i>menu</div>
        </div>
    </div>
</div>