<!--  / banner box \ -->
<div class="visual bannerBox text-center">
    <div class="container">
        <h1>Deel jouw moment met de leukste<br />
zelf te maken kaartjes van Lovz</h1>
    </div>
</div>
<!--  \ banner box / -->
<!--  / content container \ -->
<div class="" id="contentCntr">
    <!--  / service box \ -->
    <div class="serviceBox">
        <div class="center">
            <ul>
                <li>
                    <div class="image"><img alt="" src="/media/geboortekaartjes.jpg" /></div>
                    <div class="detail">
                        <p>Hier een tekstje over maximaal drie regels met opties</p>
                        <a class="button" href="/geboortekaartjes">Geboortekaartjes</a></div>
                </li>
                <li class="blue">
                    <div class="image"><img alt="" src="/media/trouwen.jpg" /></div>
                    <div class="detail">
                        <p>Hier een tekstje over maximaal drie regels met opties</p>
                        <a class="button" href="/trouwkaarten">Trouwkaarten</a></div>
                </li>
                <li class="gray">
                    <div class="image"><img alt="" src="/media/huwelijksjubileum.jpg" /></div>
                    <div class="detail">
                        <p>Hier een tekstje over maximaal drie regels met opties</p>
                        <a class="button" href="/huwelijksjubileum">Huwelijksjubileum</a></div>
                </li>
                <li class="darkgreen">
                    <div class="detail">
                        <p>Hier een tekstje over maximaal drie regels met opties</p>
                        <a class="button" href="/uitnodigingen">Uitnodigingen</a></div>
                    <div class="image"><img alt="" src="/media/uitnodigingen.jpg" /></div>
                </li>
                <li class="lightYellow">
                    <div class="detail">
                        <p>Hier een tekstje over maximaal drie regels met opties</p>
                        <a class="button" href="/wenskaarten">Wenskaarten</a></div>
                    <div class="image"><img alt="" src="/media/wenskaarten.jpg" /></div>
                </li>
                <li class="lightgreen">
                    <div class="detail">
                        <p>Hier een tekstje over maximaal drie regels met opties</p>
                        <a class="button" href="/zelf-maken">Zelf maken</a></div>
                    <div class="image"><img alt="" src="/media/zelfmaken.jpg" /></div>
                </li>
            </ul>
        </div>
    </div>
    <!--  \ service box / -->
    <!--  / service box \ -->
    <div class="serviceBox big">
        <div class="center">
            <ul>
                <li class="lightred">
                    <div class="image"><img alt="Eenvoudig bestellen" src="/media/eenvoudig.jpg" /></div>
                    <div class="detail">
                        <h4>Maak jouw<br />
    gratis Proefdruk</h4>
                        <p>Hier een tekstje over maximaal drie regels met opties</p>
                        <a class="button" href="/geboortekaartjes">Geboortekaartjes</a></div>
                </li>
                <li class="blue">
                    <div class="image"><img alt="papierformaten &amp; prijzen" src="/media/papierformaten.jpg" /></div>
                    <div class="detail">
                        <h4 class="space"><a href="#">Formaat,<br />
    papiersoorten<br />
    &amp; Prijzen</a></h4>
                        <p>Al vanaf &euro; 0,25 per stuk*</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--  \ service box / -->
    <!--  / envelop box \ -->
    <div class="envelopBox">
        <div class="center">
            <h2><span>prachtige enveloppen </span></h2>
            <ul>
                <li><img alt="" src="/media/envelop1.png" /></li>
                <li><img alt="" src="/media/envelop2.png" /></li>
                <li><img alt="" src="/media/envelop3.png" /></li>
                <li><img alt="" src="/media/envelop4.png" /></li>
                <li><img alt="" src="/media/envelop5.png" /></li>
                <li><img alt="" src="/media/envelop6.png" /></li>
                <li><img alt="" src="/media/envelop7.png" /></li>
                <li><img alt="" src="/media/envelop8.png" /></li>
                <li><img alt="" src="/media/envelop9.png" /></li>
                <li><img alt="" src="/media/envelop10.png" /></li>
                <li><img alt="" src="/media/envelop11.png" /></li>
                <li><img alt="" src="/media/envelop12.png" /></li>
            </ul>
            <div class="clear">&nbsp;</div>
            <a class="button" href="/enveloppen-info">Enveloppen bestellen</a></div>
    </div>
    <!--  \ envelop box / -->
    <!--  / tickets box \ -->
    <div class="ticketsBox">
        <div class="center">
            <h2><span>gloednieuwe kaartjes </span></h2>
            <ul>
                <li><img alt="" src="/media/tickets1.png" /></li>
                <li><img alt="" src="/media/tickets2.png" /></li>
                <li><img alt="" src="/media/tickets3.png" /></li>
                <li><img alt="" src="/media/tickets4.png" /></li>
                <li><img alt="" src="/media/tickets5.png" /></li>
                <li><img alt="" src="/media/tickets6.png" /></li>
            </ul>
        </div>
    </div>
    <!--  \ tickets box / -->
    <!--  / simple box \ -->
    <div class="simpleBox">
        <div class="center">
            <h2><span>zo eenvoudig is het </span></h2>
            <div class="image"><img alt="" src="/media/zoeenvoudig.png" /></div>
            <a class="button" href="/zelf-maken">Maak ook eenvoudig een kaart</a></div>
    </div>
    <!--  \ simple box / -->
    <!--  / review box \ -->
    <div class="reviewBox">
        <div class="center">
            <div class="left">
                <div class="rating">&nbsp;</div>
                <p>LOVZ KRIJGT EEN 9,5 van 548 reviews Via <a href="index.html#">TheFeedbackcompany.nl</a></p>
                <a class="button" href="index.html#">Bekijk alle reviews</a></div>
            <div class="right">
                <h2>Ik ben zeer tevreden. goede kwaliteit, uitstekende service en boven alles snelle levering</h2>
                <span><small>MARJOLEIN SIMONS </small></span></div>
        </div>
    </div>
    <!--  \ review box / -->
</div>
<!--  / footer box \ -->
<!--  \ footer box / -->