<!--  / banner box \ -->
<div class="visual visual--home text-center" style="background-image: url(/media/header.png)">
    <div class="container">
        <h1>Deel jouw moment met de leukste
            <br /> zelf te maken kaartjes van Lovz!</h1>
    </div>
</div>
<!--  \ banner box / -->
<!--  / content container \ -->
<div class="js-hide-leftbar js-pagecontent-fullwidth">
    <div class="serviceBox">
        <div class="container">
            <div class="cols text-center">
                <div class="xs-12 sm-6 md-4">
                    <div class="servicebox-item">
                        <div class="diamond">&nbsp;</div>
                        <div class="image"><img alt="prachtige geboortekaartjes" src="/media/geboortekaartjes.jpg" /></div>
                        <div class="detail">
                            <p>Een prachtige collectie geboortekaartjes in verschillende stijlen</p>
                            <a class="servicebox-button" href="/geboortekaartjes">Geboortekaartjes</a>
                        </div>
                    </div>
                </div>
                <div class="xs-12 sm-6 md-4">
                    <div class="servicebox-item blue">
                        <div class="diamond">&nbsp;</div>
                        <div class="image"><img alt="trouwkaarten in verschillende stijlen" src="/media/trouwkaartjes.jpg" /></div>
                        <div class="detail">
                            <p>Gefeliciteerd! Wij hebben hier mooie trouwkaarten in verschillende stijlen.</p>
                            <a class="servicebox-button" href="/trouwkaarten">Trouwkaarten</a>
                        </div>
                    </div>
                </div>
                <div class="xs-12 sm-6 md-4">
                    <div class="servicebox-item gray">
                        <div class="diamond">&nbsp;</div>
                        <div class="image"><img alt="De leukste Jubileum kaartjes" src="/media/jubileumkaartjes1.jpg" /></div>
                        <div class="detail">
                            <p>Gefeliciteerd, bekijk onze huwelijksjubileum kaarten.</p>
                            <a class="servicebox-button" href="/jubileumkaarten">Huwelijksjubileum</a>
                        </div>
                    </div>
                </div>
                <div class="xs-12 sm-6 md-4">
                    <div class="servicebox-item darkgreen">
                        <div class="diamond">&nbsp;</div>
                        <div class="image"><img alt="leuke uitnodigingskaart" src="/media/uitnodigingen1.jpg" /></div>
                        <div class="detail">
                            <p>Opzoek naar een leuke uitnodigingskaart... die vind je hier!</p>
                            <a class="servicebox-button" href="/uitnodigingen">Uitnodigingen</a>
                        </div>
                    </div>
                </div>
                <div class="xs-12 sm-6 md-4">
                    <div class="servicebox-item lightyellow">
                        <div class="diamond">&nbsp;</div>
                        <div class="image"><img alt="Trendy verhuiskaarten" src="/media/wenskaarten1.jpg" /></div>
                        <div class="detail">
                            <p>Trendy en eenvoudig aan te passen wenskaarten</p>
                            <a class="servicebox-button" href="/verhuiskaarten">Verhuiskaarten</a>
                        </div>
                    </div>
                </div>
                <div class="xs-12 sm-6 md-4">
                    <div class="servicebox-item lightgreen">
                        <div class="diamond">&nbsp;</div>
                        <div class="image"><img alt="zelf te maken uitnodigingen" src="/media/zelfmaken1.jpg" /></div>
                        <div class="detail">
                            <p>Gemakkelijk &amp; eenvoudig zelf te maken unieke uitnodigingen</p>
                            <a class="servicebox-button" href="/zelf-maken">Zelf maken</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="serviceBox big">
    <div class="container">
        <div class="cols text-center">
            <div class="xs-12 sm-6 md-6">
                <div class="servicebox-item lightred">
                    <div class="diamond">&nbsp;</div>
                    <div class="image"><img alt="Eenvoudig bestellen" src="/media/eenvoudigestappen.jpg" /></div>
                    <div class="detail">
                        <h4>Maak jouw
                            <br /> gratis Proefdruk</h4>
                        <p>Maak nu in vier eenvoudige stappen jouw eigen kaart en ontvang de eerste proefdruk gratis.</p>
                        <a class="servicebox-button" href="/proefdruk">Gratis proefdruk maken</a>
                    </div>
                </div>
            </div>
            <div class="xs-12 sm-6 md-6">
                <div class="servicebox-item blue">
                    <div class="diamond">&nbsp;</div>
                    <div class="image"><img alt="papierformaten &amp; prijzen" src="/media/formaten.jpg" /></div>
                    <div class="detail">
                        <h4>Formaat,
                            <br /> papiersoorten
                            <br /> &amp; Prijzen</h4>
                        <p>Al vanaf &euro; 0,25 per stuk*</p>
                        <a class="servicebox-button" href="/prijzen">Formaat, papier en prijzen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="envelopBox">
    <div class="container text-center">
        <h2>prachtige enveloppen</h2>
        <ul>
            <li><img alt="" src="/media/envelop1.png" /></li>
            <li><img alt="" src="/media/envelop2.png" /></li>
            <li><img alt="" src="/media/envelop3.png" /></li>
            <li><img alt="" src="/media/envelop4.png" /></li>
            <li><img alt="" src="/media/envelop5.png" /></li>
            <li><img alt="" src="/media/envelop6.png" /></li>
            <li><img alt="" src="/media/envelop7.png" /></li>
            <li><img alt="" src="/media/envelop8.png" /></li>
            <li><img alt="" src="/media/envelop9.png" /></li>
            <li><img alt="" src="/media/envelop10.png" /></li>
            <li><img alt="" src="/media/envelop11.png" /></li>
            <li><img alt="" src="/media/envelop12.png" /></li>
        </ul>
        <div class="clear">&nbsp;</div>
        <a class="button button-default button-lg" href="/enveloppen-info">Enveloppen bestellen</a>
    </div>
</div>
<div class="ticketsBox">
    <div class="container text-center">
        <h2>gloednieuwe kaartjes</h2>
        <div class="js-add-tag-scroller">&nbsp;</div>
    </div>
</div>
<!--  \ tickets box / -->
<!--  / simple box \ -->
<div class="simpleBox">
    <div class="container text-center">
        <h2>zo eenvoudig is het</h2>
        <div class="image"><img alt="in 4 stappen eenvoudig je eigen kaart maken" src="/media/eenvoudigkaartjebestellen.png" /></div>
        <a class="button button-default button-lg" href="/zelf-maken">Maak eenvoudig jouw kaart</a>
    </div>
</div>
<!--  \ simple box / -->
<!--  / review box \ -->
<div class="reviewBox">
    <div class="container text-center">
        <div class="cols">
            <div class="sm-5 ">
                <div class=" left">
                    <div class="stars">
                        <i class="icon icon-star">&nbsp;</i>
                        <i class="icon icon-star">&nbsp;</i>
                        <i class="icon icon-star">&nbsp;</i>
                        <i class="icon icon-star">&nbsp;</i>
                        <i class="icon icon-star">&nbsp;</i>
                    </div>
                    <p>Lovz krijgt een 9,5 van meer dan 1000+ reviews Via
                        <br/>
                        <a href="https://www.feedbackcompany.com/nl-nl/reviews/lovz%2Dnl/">TheFeedbackcompany.nl</a>
                    </p>
                    <a class="button button-default button-lg" href="https://www.feedbackcompany.com/nl-nl/reviews/lovz%2Dnl/">Bekijk alle reviews</a>
                </div>
            </div>
            <div class="sm-7 ">
                <div class=" right">
                    <h2>Ik ben zeer tevreden. goede kwaliteit, uitstekende persoonlijke service en snelle levering</h2>
                    <span><small>MARJOLEIN SIMONS </small></span>
                </div>
            </div>
        </div>
    </div>
</div>