<div class="visual visual--jubileumkaarten text-center" style="background-image: url(/media/headerjubileum.png)">
    <div class="container">
        <h1>Prachtige huwelijksjubileum kaarten
            <br /> in verschillende stijlen</h1>
    </div>
</div>
<div class="container full-thumbs">
    <div class="cols">
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/jubileumkaarten/25-jaar-getrouwd';"><img class="img-responsive img-center" src="/media/25jaargetrouwd.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>25 jaar getrouwd</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/jubileumkaarten/40-jaar-getrouwd';"><img class="img-responsive img-center" src="/media/40jaargetrouwd.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>40 jaar getrouwd</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/jubileumkaarten/50-jaar-getrouwd';"><img class="img-responsive img-center" src="/media/50jaargetrouwd.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>50 jaar getrouwd</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Onze unieke collectie huwelijksjubileumkaarten</h2>
<p>De leukste uitnodigingen voor een huwelijksjubileum maak je op LOVZ. Kies uit onze ruime collectie jubileumkaarten en maak de uitnodiging in je eigen stijl. Voeg een foto en je eigen tekst toe en bestel een proefdruk. Voor vragen mail ons gerust! De enveloppen zijn los erbij te bestellen en worden in verschillende kleuren aangeboden!</p>