<div class="visual visual--rouwkaarten text-center" style="background-image: url(/media/headerrouwkaarten.png)">
    <div class="container">
        <h1>Definitief gedag zeggen,
            <br /> doe je niet zomaar</h1>
    </div>
</div>
<div class="container full-thumbs">
    <div class="cols">
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaarten/rouwkaarten-baby';"><img class="img-responsive img-center" src="/media/rouwbaby.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Rouwkaarten baby</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaarten/rouwkaarten-kinderen';"><img class="img-responsive img-center" src="/media/rouwkind.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Rouwkaarten kind</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaarten/rouwkaarten-volwassenen';"><img class="img-responsive img-center" src="/media/rouwvolwassenen.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Rouwkaarten volwassenen</h3>
                </div>
            </div>
        </div>
        <h2>Unieke rouwkaarten zelf maken</h2>
        <p>Definitief gedag zeggen, doe je niet zomaar. Een unieke persoonlijke rouwkaart levert een mooie bijdrage aan het rouwproces. Wij hebben in onze collectie verschillende soorten stijlen rouwkaarten, bedankkaarten en bidprentjes voor volwassen, kinderen en baby&rsquo;s die in z&rsquo;n geheel aan te passen zijn! Mooie eigentijdse kaarten die je online zelf maakt en ook kan opslaan in je account! Zo kan je altijd bij je kaart en dat geeft een geruststellend gevoel! Voor vragen en hulp (voor bv het plaatsen van en foto) is ons serviceteam bereikbaar via mail en telefoon. Onze rouwkaarten worden als spoed gedrukt en snel geleverd als pakketpost.</p>
        <p>Ook is het mogelijk om een echte proefdruk&nbsp;te bestellen voor 1 euro! Je ontvangt bij je proefdruk een setje van 5 papiersoorten voor de rouwkaart en 18 kleuren voor je envelop. Zo weet je precies hoe het ontwerp van jouw persoonlijke rouwkaart eruit komt te zien!</p>
    </div>
</div>