<div class="visual visual--trouwkaarten text-center" style="background-image: url(/media/headertrouwen.png)">
    <div class="container">
        <h1>Onze prachtige collectie trouwkaarten
            <br /> in verschillende stijlen</h1>
    </div>
</div>
<div class="container full-thumbs">
    <div class="cols">
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/save_the_date_kaarten';"><img class="img-responsive img-center" src="/media/savethedate.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Save the date kaarten</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten/alle-trouwkaarten-lovz';"><img class="img-responsive img-center" src="/media/alletrouwkaarten.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Alle trouwkaarten</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/Trouwen/Menukaarten';"><img class="img-responsive img-center" src="/media/menukaarten.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>menukaarten</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Onze unieke collectie trouwkaarten</h2>
<p>Gefeliciteerd jullie gaan trouwen! En nu zijn jullie opzoek naar een trouwkaart die bij jullie past!&nbsp;Je vindt hier mooie trouwkaarten in verschillende stijlen. Deze zijn allemaal eenvoudig aan te passen in onze ontwerp-tool. De meeste elementen zijn los, dus je kan creatief aan de slag met jullie eigen kaart. Mochten jullie vragen hebben&nbsp;mail ons&nbsp;dan gerust. Veel succes met het opmaken van jullie trouwkaart!</p>
<h2>Zelf online jouw trouwkaart maken</h2>
<p>In de categorie trouwkaarten staan vele kaartjes. Stoere, hippe, trendy, unieke en geboortekaartjes met ruimte voor een eigen foto. Alle trouwkaartjes kun je zelf online bewerken. Veel elementen staan los op de babykaartjes. Voor specifieke wensen bekijk dan de andere trouwkaartjes categorie&euml;n. Kies eerst je favoriete kaartje en plaats daarna je eigen tekst(en) en maak de kaart helemaal naar wens!
    <br /> &nbsp;
</p>