<h3>Tips bij het maken van trouwkaarten</h3>
<p>Kies en bewerk je favoriete trouwkaart en sla het ontwerp op in je eigen collectie. Zijn de trouwdatum en trouw- feestlocatie definitief? Pas dan in je eigen collectie de trouwkaart aan met de definitieve informatie en bestel je trouwkaarten.</p>
<p>Om zeker te weten dat je trouwkaart helemaal naar wens is, adviseren we je een proefdruk van je trouwkaart te bestellen. Een &eacute;chte proefdruk kost maar &euro; 1,- inclusief verzendkosten. Daarbij ontvang je ook een set papiersoorten en de kleuren van de enveloppen.</p>
<h3>Zorg altijd voor vermelding van de 4 w&rsquo;s op je trouwkaart.</h3>
<p><strong>&bull; </strong>Wie gaan er trouwen
    <br />
    <strong>&bull; </strong>Wanneer? Wanneer vindt de bruiloft plaats
    <br />
    <strong>&bull; </strong>Waar? Waar vindt de bruiloft plaats
    <br />
    <strong>&bull; </strong>Wat? Waarvoor is de gast uitgenodigd</p>
<h3>Trouwkaartenvoor jullie mooiste dag maken!</h3>
<p>Onze trouwkaarten zijn in verschillende kleuren om te bouwen en te stylen. Jullie kunnen&nbsp;kiezen uit vele designs zoals trouwkaarten met hartjes, sterren, bloemen, ringen,&nbsp;hout print, kraft look, schoolbord krijt print&nbsp;en huwelijkskaarten waar je een eigen foto in kan plaatsen. Veel plezier met het maken van jullie&nbsp;trouwkaart.</p>
<p>*voor 18:00 uur besteld en morgen in huis is geldig bij bestelling vanaf 20 kaarten op werkdagen (pakketpost). Overige bestellingen en proefdrukken drukken en versturen&nbsp;wij de volgende werkdag (brievenbuspost).</p>