<h2>Uitnodigingskaarten zelf maken Tips.</h2>
<p>Ontwerp je kaartje al een tijd van tevoren en sla je favoriete ontwerp(en) op in je eigen collectie. Om zeker te weten dat je uitnodigingskaart helemaal naar wens is, is het bij ons mogelijk om een &eacute;chte proefdruk van je uitnodigingskaart te ontvangen. Een &eacute;chte proefkaart ontvang je, inclusief een setje met papiersoorten voor je kaart en envelop kleuren, voor m&aacute;&aacute;r &euro; 1,-!</p>
<h2>Veel soorten uitnodigingen voor een feestje.</h2>
<p>&bull; huwelijksjubileum uitnodiging
    <br /> &bull; uitnodiging met foto
    <br /> &bull; uitnodiging party
    <br /> &bull; uitnodiging kinderfeestje
    <br /> &bull; jubileum uitnodiging
    <br /> &bull; uitnodiging verjaardag
    <br /> &bull; 12,5,&nbsp;25,&nbsp;40, 50 jaar getrouwd uitnodigingen</p>
<p>Uitnodigingskaarten in de verschillende stijlen en kleuren als rood, blauw en groen en ook in vele andere kleuren als zwart, wit, koper, brons, goud en zilver.&nbsp;Uiteraard kan je kiezen uit vele designs zoals uitnodigingskaarten met met hartjes, sterren, hout print, kraft look,&nbsp;karton&nbsp;look&nbsp;en&nbsp;symbolen. Maak online de keuze voor je uitnodingskaart en pas deze in de kaarten editor zelf eenvoudig aan.</p>