<div class="visual visual--uitnodigingen text-center" style="background-image: url(/media/headeruitnodigingen.png)">
    <div class="container">
        <h1>Zelf je uitnodigingskaarten maken!</h1>
    </div>
</div>
<div class="container full-thumbs">
    <div class="cols">
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/uitnodigingen/verjaardag';"><img class="img-responsive img-center" src="/media/verjaardag.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Verjaardag</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/uitnodigingen/kinderfeestjes';"><img class="img-responsive img-center" src="/media/kinderfeestje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Kinderfeestje</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/uitnodigingen/zelf-ontwerpen';"><img class="img-responsive img-center" src="/media/maakzelf.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Maak zelf</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>De leukste uitnodigingen vind je hier!</h2>
    <p>Een feestje en je bent nu opzoek naar een passende uitnodigingskaart, die vind je hier bij LOVZ. Vrolijke uitnodigingen voor een kinderfeestje, jubileum en huwelijksjubileum kaarten in verschillende stijlen. Met bijvoorbeeld kraft, hout print of krijtbord look. De enveloppen zijn ook vooraf te bestellen en je hebt keuze uit 18 kleuren, die allemaal dezelfde prijs hebben! Hiernaast vind je al onze uitnodigingen. Succes met het opmaken van jullie kaart en mochten jullie vragen hebben mail ons gerust!</p>
</div>