<h2>Eigen verhuiskaarten&nbsp;zelf maken</h2>
<p><strong>1.</strong> Maak een keuze voor je favoriete verhuiskaartje&nbsp;en bewerk deze zelf online
    <br />
    <strong>2.</strong> Kies de papiersoort voor je verhuiskaartje&nbsp;en de&nbsp;kleur van de envelop
    <br />
    <strong>3.</strong> Vul je gegevens in en reken je bestelling verhuiskaartjes af&nbsp;
    <br />
    <strong>4.</strong> Voor 18:00 uur (op werkdagen) besteld is de volgende dag in huis*</p>
<p>*voor 18:00 uur besteld en morgen in huis is geldig bij bestelling vanaf 20 kaarten op werkdagen (pakketpost). Overige bestellingen en proefdrukken drukken en versturen&nbsp;wij de volgende werkdag (brievenbuspost).</p>
<p><strong>&bull; </strong>verhuiskaart met foto van nieuwe woning
    <br />
    <strong>&bull; </strong>dubbele verhuiskaart
    <br />
    <strong>&bull; </strong>postcard verhuisbericht
    <br />
    <strong>&bull; </strong>verhuiskaart staand</p>
<p>Verhuiskaarten in de verschillende stijlen en kleuren als rood, blauw en groen en ook in vele andere kleuren als zwart, wit, koper, brons, goud en zilver.&nbsp;Uiteraard kan je kiezen uit vele designs zoals verhuiskaarten met hartjes, sterren, hout print, kraft look,&nbsp;karton&nbsp;look&nbsp;en&nbsp;symbolen. Maak online de keuze voor je verhuisbericht en pas deze in de kaarten tool&nbsp;zelf aan.</p>