<div class="visual visual--verhuiskaarten text-center" style="background-image: url(/media/headerverhuiskaarten.png)">
<div class="container">
<h1>Zelf je verhuiskaart maken,<br />
Hoe leuk en relax is dat!</h1>
</div>
</div>

<h2>Onze unieke collectie verhuiskaarten</h2>

<p>Verhuizen? Dat wil je natuurlijk aan iedereen laten weten! Jouw verhuizing begint met een mooie eigen gemaakte kaart. Welke verhuiskaart past bij jou? Een hip of strak verhuisbericht met een foto van jouw nieuwe huis. Met daarop een kraft look, hout of krijtbord print. Alle verhuiskaarten zijn door LOVZ ontworpen en kan jezelf eenvoudig aanpassen naar je eigen wens. Zo krijgt jouw verhuiskaart een persoonlijk tintje!</p>
