<div class="visual visual--wenskaarten  text-center" style="background-image: url(/media/headertrouwen.png)">
    <div class="container">
        <h1>Unieke wenskaarten in verschillende leuke stijlen</h1>
    </div>
</div>
<div class="container full-thumbs">
    <div class="cols">
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes-jongen';"><img class="img-responsive img-center" src="/media/jongen.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>jongen</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes-meisje';"><img class="img-responsive img-center" src="/media/meisje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>meisje</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes-tweeling';"><img class="img-responsive img-center" src="/media/tweeling.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>tweeling</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Wenskaarten</h2>
    <p>Verras je vriendin, moeder, opa, jarige neefje of collega met een super leuke wenskaart. Kies een kaart uit de collecties van LOVZ en voeg je eigen tekst en foto&rsquo;s toe aan het ontwerp! Zelf je eigen wenskaart maken is nog nooit zo leuk en eenvoudig geweest! Kies de optie direct versturen en je ontvanger krijgt hiermee een uniek en persoonlijk kaart cadeau thuis!
    </p>
</div>
