<div id="footer-inner">
    <div class="f-section">
        <h3>Keuze geboortekaartjes</h3>
        <ul>
            <li>
                <a href="/geboortekaartjes/jongen">Jongen</a>
            </li>
            <li>
                <a href="/geboortekaartjes/meisje">Meisje</a>
            </li>
            <li>
                <a href="/geboortekaartjes/tweeling_meerling">Tweelingkaartjes</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/adoptiekaartjes">Adoptie/aankomst</a>
            </li>
            <li>
                <a href="/geboortekaartjes/met-foto">Kaartjes met foto</a>
            </li>
            <li>
                <a href="/geboortekaartjes/Kraamborrel">Kraamborr</a>
                <a href="http://lovz.nl/geboortekaartjes/Kraamborrel">elkaartjes</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/babyshower">Babyshowerkaartjes</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/enkele_geboortekaartjes">Enkele geboortekaartjes</a>
            </li>
        </ul>
    </div>
    <div class="f-section">
        <h3>Stijlen geboortekaartjes</h3>
        <ul>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/stippen_strepen">Lief</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/hip_en_vrolijk">Hip</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/retro_vintage">Retro</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/traditioneel">Traditioneel</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/hollands-trendy">Hollands tintje</a>
            </li>
            <li>
                <a href="/geboortekaartjes/Strak">S</a>
                <a href="http://lovz.nl/geboortekaartjes/sterren_en_stempels">toer</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/zwart_wit">Zwart en wit</a>
            </li>
        </ul>
    </div>
    <div class="f-section">
        <h3>Thema geboortekaartjes</h3>
        <ul>
            <li>
                <a href="/geboortekaartjes/Hartjes">S</a>
                <a href="http://lovz.nl/geboortekaartjes/stippen_strepen">tippen</a>
            </li>
            <li>
                <a href="/geboortekaartjes/Uil">S</a>
                <a href="http://lovz.nl/geboortekaartjes/sterren_en_stempels">terren</a>
            </li>
            <li>
                <a href="/geboortekaartjes/Bloemen">Bloemen</a>
            </li>
            <li>
                <a href="/geboortekaartjes/Boom">Boom</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/steigerhout">Hout</a>
            </li>
            <li>
                <a href="http://lovz.nl/geboortekaartjes/illustratie_en_dieren">Dieren</a>
            </li>
        </ul>
    </div>
    <div class="f-section">
        <h3>Trouwkaarten</h3>
        <ul>
            <li>
                <a href="https://lovz.nl/Trouwen/hout_stoer">Steigerhout</a>
            </li>
            <li>
                <a href="/Trouwen/basic_en_trendy">Basic &amp; Trendy</a>
            </li>
            <li>
                <a href="/Trouwen/chique_en_klassiek">Chique &amp; Klassiek</a>
            </li>
            <li>
                <a href="/Trouwen/stoer_en_hip">Stoer &amp; Hip</a>
            </li>
            <li>
                <a href="/Trouwen/met_foto">Met Foto</a>
            </li>
            <li>
                <a href="/Trouwen/brief_bij_trouwkaart">Brief bij trouwkaart</a>
            </li>
            <li>
                <a href="/Trouwen/bedankkaarten">Bedankkaarten</a>
            </li>
            <li>&nbsp;</li>
            <li>
                <h3>Uitnodigingen</h3>
            </li>
            <li>
                <a href="/uitnodigingen/Huwelijksjubileum">Huwelijksjubileum</a>
            </li>
            <li>
                <a href="/uitnodigingen/jubileum">Jubileum</a>
            </li>
            <li>
                <a href="/uitnodigingen/kinderfeestjes">Kinderfeestjes</a>
            </li>
        </ul>
    </div>
    <div class="f-section">
        <h3>Volg ons</h3>
        <p class="betaalmethodes"><img alt="" src="/img/betaalmethodes.png" /></p>
        <p class="social-media">
            <a href="https://www.facebook.com/lovz.nl?ref=hl" target="_blank"><img alt="" src="/img/socialmedia/facebook.png" /></a>
            <a href="https://twitter.com/lovzkaarten" target="_blank"><img alt="" src="/img/socialmedia/twitter.png" /></a>
        </p>
        <ul>
            <li>
                <a href="https://www.facebook.com/lovz.nl?ref=hl" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="https://twitter.com/lovzkaarten" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="https://www.pinterest.com/lovznl/" target="_blank">Pinterest</a>
            </li>
            <li>
                <a href="https://www.instagram.com/lovz.nl/">Instagram</a>
            </li>
            <li>
                <a href="https://plus.google.com/+PoozNl/posts" target="_blank">Google+</a>
            </li>
            <li>&nbsp;</li>
            <li>
                <h3>Veilig betalen</h3>
            </li>
        </ul>
    </div>
    <div class="f-section">
        <h3>
            <a href="/reviews">Reviews</a>
        </h3>
        <ul>
            <li>
                <div class="fnav">
                    <ul class="fnav-list">
                        <li>
                            <a href="/reviews">
                                <span>&copy; 2017</span>|</a>
                        </li>
                        <li>
                            <a href="/reviews">Illustraties, ontwerpen &amp; webdesign, LOVZ &nbsp;|</a>
                        </li>
                        <li>
                            <a href="/reviews">alle rechten voorbehouden &nbsp;|</a>
                        </li>
                        <li>
                            <a href="/algemene_voorwaarden">Algemene Voorwaarden</a>&nbsp;|</li>
                        <li>
                            <a href="/links">Links</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>