<link href="/css/custom.css" rel="stylesheet" />
<p>
    <script type="text/javascript" src="/css/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/css/js/superfish.js"></script>
    <script type="text/javascript" src="/css/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/css/js/custom.js"></script>
</p>
<p class="img-header">
    <a href="http://lovz.nl/modelkaartje"><img alt="" src="/img/header_top01.png" /></a>
</p>
<p class="time">GRATIS verzending | pakketbestellingen op werkdagen&nbsp;<strong>v&oacute;&oacute;r 18:00 uur</strong>&nbsp;besteld is morgen in huis</p>
<p id="logo">
    <a href="/" title="Lovz"><img alt="Lovz" src="/img/logo.gif" /></a>
</p>
<div id="menu">
    <ul>
        <li>
            <a href="http://lovz.nl">Home</a>
        </li>
        <li>
            <a href="http://lovz.nl/geboortekaartjes">Geboortekaartjes</a>
            <ul>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/jongen">Jongen</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/meisje">Meisje</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/tweeling_meerling">Tweelingkaartjes</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/babyshower">Babyshower</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/adoptiekaartjes">Adoptiekaartjes</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/Kraamborrel">Kraamborrel</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/hollands-trendy">Hollands &amp; Trendy</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/stippen_strepen">Stippen &amp; Strepen</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/traditioneel">Klassiek &amp; Stijlvol</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/retro_vintage">Retro &amp; Vintage</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/hip_en_vrolijk">Hip &amp; vrolijk</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/steigerhout">Steigerhout &amp; Hout</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/sterren_en_stempels">Sterren &amp; Stempels</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/illustratie_en_dieren">Illustratie &amp; Dieren</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/met-foto">Met Foto</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/Kraamborrel">Kraamborrel</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/enkele_geboortekaartjes">Enkele kaartjes</a>
                </li>
                <li>
                    <a href="http://lovz.nl/geboortekaartjes/zelf_ontwerpen">Zelf maken</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="http://lovz.nl/Trouwen">Trouwkaarten</a>
            <ul>
                <li>
                    <a href="http://lovz.nl/Trouwen/save_the_date_kaarten">Save the Date</a>
                </li>
                <li>
                    <a href="http://lovz.nl/Trouwen/hout_stoer">Hout &amp; Stoer</a>
                </li>
                <li>
                    <p style="margin: 0px; line-height: normal; font-family: Arial;">
                        <a href="http://lovz.nl/Trouwen/kraft_karton_print">Kraft &amp; Karton print</a>
                    </p>
                </li>
                <li>
                    <p style="margin: 0px; line-height: normal; font-family: Arial;">
                        <a href="http://lovz.nl/Trouwen/krijtbord_print">Krijtbord print</a>
                    </p>
                </li>
                <li>
                    <a href="http://lovz.nl/Trouwen/basic_en_trendy">Basic &amp; Trendy</a>
                </li>
                <li>
                    <a href="http://lovz.nl/Trouwen/chique_en_klassiek">Chique &amp; Klassiek</a>
                </li>
                <li>
                    <a href="http://lovz.nl/Trouwen/stoer_en_hip">Stoer &amp; Hip</a>
                </li>
                <li>
                    <a href="http://lovz.nl/Trouwen/met_foto">Met Foto</a>
                </li>
                <li>
                    <a href="http://lovz.nl/Trouwen/Menukaarten">Menukaarten</a>
                </li>
                <li>
                    <a href="http://lovz.nl/Trouwen/brief_bij_trouwkaart">Brief bij trouwkaarten</a>
                </li>
                <li>
                    <a href="http://lovz.nl/Trouwen/bedankkaarten">Bedankkaarten</a>
                </li>
                <li>
                    <a href="http://lovz.nl/Trouwen/zelf-ontwerpen">Zelf maken</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="http://lovz.nl/uitnodigingen">Uitnodigingen</a>
            <ul>
                <li>
                    <a href="http://lovz.nl/jubileumkaarten">Huwelijksjubileum</a>
                </li>
                <li>
                    <a href="http://lovz.nl/uitnodigingen/verjaardag">Verjaardag</a>
                </li>
                <li>
                    <a href="http://lovz.nl/uitnodigingen/kinderfeestjes">Kinderfeestjes</a>
                </li>
                <li>
                    <a href="http://lovz.nl/uitnodigingen/communie">Communie</a>
                </li>
                <li>
                    <a href="http://lovz.nl/uitnodigingen/zelf-ontwerpen">Zelf maken</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/prijzen">Prijzen &amp; Info</a>
            <ul>
                <li>
                    <a href="/prijzen">Prijzen</a>
                </li>
                <li>
                    <a href="/werkwijze">Werkwijze</a>
                </li>
                <li>
                    <a href="http://lovz.nl/modelkaartje">Proefdruk</a>
                </li>
                <li>
                    <a href="http://lovz.nl/Papiersoorten_formaten">Formaten &amp; papier</a>
                </li>
                <li>
                    <a href="http://lovz.nl/enveloppen-info">Enveloppen</a>
                </li>
                <li>
                    <a href="/betalen">Betalen</a>
                </li>
                <li>
                    <a href="/bezorging">Bezorging</a>
                </li>
                <li>
                    <a href="/garantie">Garantie</a>
                </li>
                <li>
                    <a href="http://lovz.nl/reviews">Reviews</a>
                </li>
                <li>
                    <a href="http://lovz.nl/faq">Veel gestelde vragen</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/tips_bij_zelf_maken">Extra</a>
            <ul>
                <li>
                    <a href="http://lovz.nl/de-babynamen-top-10-voor-meisjes">Meisjesnamen</a>
                </li>
                <li>
                    <a href="http://lovz.nl/de-babynamen-top-10-voor-jongens">Jongensnamen</a>
                </li>
                <li>
                    <a href="http://lovz.nl/teksthulp">Teksthulp&nbsp;geboorte</a>
                </li>
                <li>
                    <a href="http://lovz.nl/tips_bij_zelf_maken">Tips bij Zelf Maken</a>
                </li>
                <li>
                    <a href="http://lovz.nl/postzegels_geboortekaart">Hoeveel postzegels?</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>