<h1 style="color: red; text-align: center;"><span style="font-size:26px;"><span style="color:#ff6600;"><span style="font-family:arial,helvetica,sans-serif;"><span style="letter-spacing: 1px; line-height: 20px;">De leukste geboortekaartjes</span></span></span><span style="color:#ff6600;"><span style="font-family:arial,helvetica,sans-serif;"><span style="letter-spacing: 1px; line-height: 20px;">, trouwkaarten&nbsp;</span></span></span></span><span style="letter-spacing: 1px; line-height: 20px; font-family: arial, helvetica, sans-serif; color: rgb(255, 102, 0); font-size: 26px;">en uitnodigingen vind je hier!</span></h1>

<div id="slides">
<ul class="bxslider">
	<li><a href="/geboortekaartjes/traditioneel"><img alt="klassieke geboortekaartjes lovz" src="/img/slides/geboortekaartjes-traditioneel-lovz.jpg" style="width: 661px; height: 244px;" /></a></li>
	<li><a href="/geboortekaartjes/steigerhout"><img alt="geboortekaartjes sterren en hout van Lovz" src="/img/slides/geboortekaartjes-sterren-hout-lovz.jpg" style="width: 661px; height: 244px;" /></a></li>
	<li><a href="/geboortekaartjes/stoer"><img alt="geboortekaartjes krijtbord en kraft look van Lovz" src="/img/slides/geboortekaartjes-schoolbord-kraft-lovz.jpg" style="width: 661px; height: 244px;" /></a></li>
	<li><a href="/geboortekaartjes/illustratie_en_dieren"><img alt="geboortekaartjes dieren lovz" src="/img/slides/geboortekaartjes-dieren-lovz.jpg" style="width: 661px; height: 244px;" /></a></li>
	<li><a href="/Trouwen"><img alt="trouwkaarten lovz" src="/img/slides/trouwkaarten-lovz.jpg" style="width: 661px; height: 244px;" /></a></li>
	<li><a href="/jubileumkaarten"><img alt="huwelijksjubileum kaarten van lovz" src="/img/slides/huwelijksjubileum-lovz.jpg" style="width: 661px; height: 244px;" /></a></li>
</ul>
</div>

<h1 class="content"><span style="color: rgb(255, 102, 0); font-size: 16px;">Maak hier&nbsp;je leukste eigen kaartjes zelf!</span></h1>

<p class="content"><span style="font-size:12px;">Bij LOVZ vind je de leukste <strong>geboortekaartjes</strong> voor o.a. een <strong>jongen</strong>, <strong>meisje</strong> en <strong>tweeling</strong>, <strong>trouwkaarten</strong> met toebehoren,&nbsp;<strong>verhuiskaarten, uitnodigingen</strong> voor een <strong>huwelijksjubileum</strong>&nbsp;en <strong>verjaardagen </strong>en nieuw&nbsp;zijn onze&nbsp;<strong>rouwkaarten</strong>. Kies je favoriete kaart en ontdek hoe eenvoudig je&nbsp;zelf dit kaartje kan aanpassen! Bestel je eigen <strong>proefdruk</strong>&nbsp;en <strong>enveloppen bestel je ook vooraf!</strong> (GRATIS VERZENDING)</span></p>

<p class="content"><strong><a href="http://lovz.nl/werkwijze"><span style="color:#808080;">Maak je eigen kaart in 4 stappen</span></a></strong>: 1. ACCOUNT &nbsp;- &nbsp;2. KIES &nbsp;- &nbsp;3. ONTWERP &nbsp;- &nbsp;4. BESTEL</p>

<p class="content"><strong><span style="color: rgb(128, 128, 128);">Let op! Wij hebben andere bezorgtijden ivm de feestdagen!&nbsp;<a href="https://lovz.nl/bezorging">klik hier!</a></span></strong></p>

<ul class="kaart-list">
	<li>
	<h2><a href="/geboortekaartjes/meisje"><span><img alt="Stijl je eigen geboortekaartje met POOZ" src="/img/slides/pooz_banner1.jpg" /></span></a></h2>
	</li>
	<li class="bg-card02">
	<h2><a href="/geboortekaartjes/jongen"><span><img alt="Stijl je eigen trouwkaart met POOZ" src="/img/slides/pooz_banner2.jpg" style="width: 140px; height: 156px;" /></span></a></h2>
	</li>
	<li class="bg-card03">
	<h2><span><a href="/Trouwen"><img alt="Stijl je eigen uitnodiging met POOZ" src="/img/slides/pooz_banner3.jpg" style="width: 140px; height: 156px;" /></a></span><br />
	&nbsp;</h2>
	</li>
</ul>

<h3 style="margin: 0px 0px 14px; "><span style="color:#ff6600;"><b>Waarom kiezen klanten voor een LOVZ?</b></span></h3>

<ul>
	<li style="margin: 0px; "><span style="font-size:12px;"><span style="color: rgb(128, 128, 128); ">maandelijks nieuwe ontwerpen</span></span></li>
	<li style="margin: 0px; "><span style="color: rgb(128, 128, 128); ">vrolijke en leuke eigentijdse kaartjes</span></li>
	<li style="margin: 0px;"><span style="color: rgb(128, 128, 128); font-family: arial, helvetica, sans-serif; line-height: 15px;">je kaartje bewaren en klaar zetten in je account</span></li>
	<li style="margin: 0px;"><span style="color: rgb(128, 128, 128);">eenvoudig zelf te maken (kies je favoriete kaart en ontdek dat ALLES te bewerken is in de editer!)</span></li>
	<li style="margin: 0px; "><font color="#808080">persoonlijk advies</font></li>
	<li style="margin: 0px; "><span style="color:#808080;"><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:12px;"><span style="line-height: 15px;">mooie kwaliteit drukwerk</span></span></span></span></li>
</ul>
