/** PAGES - ALGEMENE-VOORWAARDER ----------------------------------------------- **/

#body_algemene_voorwaarden {
	.custom_content {
		font-size: 14px;
		line-height: 20px; 
	
		ul > li {
			list-style: disc;
		}
	}
 
}

@media only screen and (min-width: 768px) {
    #body_geboortekaartjes {}
}


@media only screen and (min-width: 992px) {
    #body_geboortekaartjes {}
}


@media only screen and (min-width: 1200px) {}
