/** PAGES - DESIGN ----------------------------------------------- **/

#body_design {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 1.5em;
        color: #000;
        font-weight: 400;
    }
    .button-success {
        background-color: #e85154;
        border-color: #e85154;
        &:hover {
            color: #e85154;
            background-color: #fff;
        }
    }
}

@media only screen and (min-width: 768px) {}


@media only screen and (min-width: 992px) {}


@media only screen and (min-width: 1200px) {}