/** PAGES - GEBOORTEKAARTJES ----------------------------------------------- **/

#body_geboortekaartjes {
 
}

@media only screen and (min-width: 768px) {
    #body_geboortekaartjes {}
}


@media only screen and (min-width: 992px) {
    #body_geboortekaartjes {}
}


@media only screen and (min-width: 1200px) {}
