/** PAGES - HOME ----------------------------------------------- **/

#body_home {
    .serviceBox {
        background: #eaeef1;
        &.big {
            background: #fff;
        }
    }
    h2 {
        font-family: 'Roboto';
        font-weight: 200;
        color: #333333;
        text-transform: uppercase;
        font-style: normal;
        font-size: 25px;
        text-align: center;
        line-height: 36px;
        span {
            position: relative;
            top: -14px;
            font-size: 20px;
            font-weight: normal;
            background: #e0dfd1;
            padding: 0px 62px;
            display: inline-block;
        }
    }

    .envelopBox {
        padding: 45px 0px;
        ul {
            list-style: none;
            text-align: center;
            margin-bottom: 0px;
        }
        li {
            padding: 0px 4px 30px 4px;
            display: inline-block;
        }
        img {
            width: 84px;
        }
        .button {
            text-transform: uppercase;
            font-weight: 400;
            box-shadow: 1px 1px 1px 0px rgba(16, 25, 42, 0.67);
        }
    }

    .simpleBox {
        padding: 45px 0px;
        width: 100%;
        overflow: hidden;
        background: #e0dfd1;
        .image {
            padding: 20px 0 45px 0;
            max-width: 900px;
            margin: 0px auto;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .button {
            display: block;
            width: 300px;
            margin: 0px auto;
            text-align: center;
            padding: 10px;
        }
    }

    form[lpformnum="1"] {
        display: none;
    }
    .visual {
        background-color: #A7C8C4;
    }
}

@media only screen and (min-width: 768px) {
    #body_home {
        .visual {
            height: 204px;
        }
        .serviceBox {
            padding-top: 60px;
            padding-bottom: 30px;
            h4 {
                font-size: 18px;
            }
            .servicebox-item {
                .detail {

                    .servicebox-button {
                        font-size: 14px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 992px) {}


@media only screen and (min-width: 1200px) {}