/** PAGES - JUBILEUMKAARTEN ----------------------------------------------- **/

#body_jubileumkaarten {
    .visual {
        background-color: #e7e8ec;
        .container h1 {
            color: #7c7672;
        }
    }
    #pagecontent h1 {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #body_jubileumkaarten {}
}


@media only screen and (min-width: 992px) {
    #body_jubileumkaarten {}
}


@media only screen and (min-width: 1200px) {}