/** PAGES - TEST ----------------------------------------------- **/

#body_test {
}

@media only screen and (min-width: 768px) {
    #body_test {}
}

@media only screen and (min-width: 992px) {
    #body_test {}
}

@media only screen and (min-width: 1200px) {
    #body_test {}
}