/** PAGES - UITNODIGINGSKAARTEN ----------------------------------------------- **/

#body_uitnodigingen {
    .visual {
        background-color: #a9d4d3;
        .container h1 {
            color: #ffffff;
        }
    }
    #pagecontent h1 {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #body_uitnodigingen {}
}


@media only screen and (min-width: 992px) {
    #body_uitnodigingen {}
}


@media only screen and (min-width: 1200px) {}


