/** PAGES - VERHUISKAARTEN ----------------------------------------------- **/

#body_verhuiskaarten {
    .visual {
        background-color: #ceccae;
        .container h1 {
            color: #8d2962;
            margin-right: 25%;
        }
    }
    #pagecontent h1 {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #body_verhuiskaarten {}
}


@media only screen and (min-width: 992px) {
    #body_verhuiskaarten {}
}


@media only screen and (min-width: 1200px) {}