/** PAGES - WENSKAARTEN ----------------------------------------------- **/

#body_wenskaarten {
    .visual {
        background-color: red;
        .container h1 {
            color: #ffffff;
        }
    }
    #pagecontent h1 {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #body_wenskaarten {}
}


@media only screen and (min-width: 992px) {
    #body_wenskaarten {}
}


@media only screen and (min-width: 1200px) {}

