/** PAGES - ZELF-MAKEN ----------------------------------------------- **/

#body_zelf-maken {
    .visual {
        background-color: #ebecee;
        .container h1 {
            color: #676842;
        }
    }
    #pagecontent h1 {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #body_zelf-maken {}
}


@media only screen and (min-width: 992px) {
    #body_zelf-maken {}
}


@media only screen and (min-width: 1200px) {}

