/** BLOCKS - BANNERBOX ---------------------------------**/

.bannerBox {
    padding: 20px; 
    width: 100%;
    height: 204px;
    overflow: hidden;
    background: url("../media/header.png") center top no-repeat;
    background-size: cover;
    background-color: #7faeaa;
    h1 {
        font-family: 'handsome_proregular';
        font-size: 30px;
        line-height: 1.1em;
        color: #fff;
        font-weight: normal;
        float: right;
        br {
            display: none;
        }
    }
}


@media only screen and (min-width: 480px) {
    .bannerBox h1 {
        font-size: 35px;
        line-height: 40px;
        br {
            display: block;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .bannerBox h1 {
        padding: 40px 100px 0px 0px;
        line-height: 45px;
        font-size: 50px;
    }
}