/** BLOCK - BUTTON **/


.button {
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 1px 1px 1px 0px rgba(16, 25, 42, 0.67);
    text-decoration: none;
	&.button-default {
		background-color: #F05B61;
		border-color: #F05B61;
		&:hover {
			background-color: darken(#F05B61, 20%);
			color: #fff;
		}
	}

}
