/** BLOCKS - CRUMBS **/

#crumbs {
    font-size: 14px;
    line-height: 2em;
    color: #e85154;
    margin: 20px 0 14px 0;
    a {
        color: #079191;
        text-decoration: underline;
        vertical-align: initial;
        position: relative;
    }
    a[href="/"] {
    	margin-left: 20px; 
        &:before {
            font-family: kcicons;
            content: 'x';
            text-decoration: none;
            position: absolute;
            left: -20px; 
        }
    }
}