/** BLOCKS - FILTER-WIDGET **/

#filter_menu li.tag-li .custom_checkbox {
    vertical-align: middle;
}




#filter_menu ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu ul li label:hover .custom_checkbox:after {
    line-height: 12px;
}






@media screen and (min-width: 992px) {
    #tagli-roze label {
        background-color: #f874ab;
    }
    #tagli-pastel-roze label {
        background-color: #fed5cf;
    }
    #tagli-lila label {
        background-color: #cab0d4;
    }
    #tagli-paars label {
        background-color: #87337c;
    }
    #tagli-rood label {
        background-color: #f12f2b;
    }
    #tagli-oranje label {
        background-color: #fa842c;
    }
    #tagli-geel label {
        background-color: #fff100;
    }
    #tagli-groen label {
        background-color: #009c47;
    }
    #tagli-pastel-groen label {
        background-color: #b7c8b9;
    }
    #tagli-petrol label {
        background-color: #006d7d;
    }
    #tagli-blauw label {
        background-color: #00a7e4;
    }
    #tagli-donker-blauw label {
        background-color: #0f5993;
    }
    #tagli-grijs label {
        background-color: #777777;
    }
    #tagli-bruin label {
        background-color: #6c6050;
    }
    #tagli-goudkleur label {
        background-color: #d6b160;
    }
}

