/** BLOCKS - FOOTER **/

.footerBox {
    overflow: hidden;
    strong {
        padding-bottom: 5px;
        font-size: 15px;
        color: #fff;
        display: block;
        border-bottom: 1px solid #fff;
        font-weight: normal;
    }
    p {
        padding: 15px 0px 0px 0px;
        font-size: 15px;
        color: #fff;
        line-height: 22px;
    }
    address {
        padding: 15px 0px 0px 0px;
        font-size: 15px;
        color: #fff;
        font-style: normal;
    }
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .left {
        width: 100%;
        padding: 0px 0px 20px 0px;
    }
    .right {
        width: 100%;
    }
}

.footerBottomBox {
    padding: 30px 0px 12px 0px;
    width: 100%;
    overflow: hidden;
    background: #375669;
    text-align: center;
    .left {
        width: 100%;
    }
    .right {
        padding: 10px 0px 0px 0px;
        width: 100%;
    }
    ul.payment {
        padding: 21px 0px 0px 0px;
        margin-right: -16px;
        list-style: none;
        li {
            padding: 0px 16px 0px 0px;
            float: none;
            display: inline-block;
        }
    }
    ul.social {
        list-style: none;
        li {
            padding: 0px 9px 0px 0px;
            float: none;
            display: inline-block;
            a {
                font-size: 20px;
                color: #7694a4;
                text-decoration: none;
                transition: color 0.2s;
                &:hover {
                	color: #fff;
                }
            }
        }
    }
    p {
        padding: 23px 0px 0px 0px;
        overflow: hidden;
        font-size: 15px;
        color: #fff;
        a {
            font-size: 15px;
            color: #fff;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    strong {
        font-weight: normal;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 768px) {
    .footerBox {
        .left {
            width: calc(100% - 260px);
        }

        .right {
            width: 260px;
        }
    }
    .footerBottomBox {
        text-align: left;
        .left {
            width: calc(100% - 365px);
            float: left;
        }

        .right {
            width: 365px;
            float: left;
        }
        ul.social {
            li {
                float: left;
            }
        }
        ul.payment {
            li {
                float: left;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .footerBox {
        padding: 26px 0px;
        .left {
            padding: 0px 120px 0px 0px;
            width: calc(100% - 365px);
            float: left;
        }

        .right {
            width: 365px;
            float: left;
        }
    }
}






@media only screen and (max-width: 767px) {}