/** BLOCKS - HTML-WIDGET **/

#sidebar {
    .sidebar_widget {
        >h3 {
            font-weight: normal;
        }

        .sidebar-rating {
            margin: 30px 0;
            color: #333;
            font-size: 14px;
            background-color: #eaeef1;
            padding: 20px;
            text-align: center;
            .stars i {
                padding: 10px 0;
                font-size: 20px;
                color: #EB5C5F;
            }
        }
        .sidebar-more {
            margin: 30px 0;
            background-color: #ded7cb;
            padding: 20px;
            text-align: center;
            h4 {
                color: #000;
                font-size: 18px;
                line-height: 28px;
            }
            a {
                color: #EB5C5F;
                font-size: 16px;
                line-height: 24px;
                display: block;
                &:before {
                    font-size: 10px;
                    margin-right: 5px;
                    content: 'f';
                    font-family: kcicons;
                }
            }
        }
    }
}

