/** BLOCKS - LOGOBAR **/

.navbar {
    .logobar {
        display: none;
        position: fixed;
        width: 100%;
        top: 0px;
        padding: 0px;
        a.logo {
            display: inline-block;
            height: 50px;
            overflow: hidden;
            img {
                width: 85px;
                margin-top: 7px;
            }
        }
        a.logobar-button {
            font-weight: 400;
            width: 50px;
            margin: 3px 0px;
            font-size: 14px;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            border-width: 2px;
            border-style: solid;
            border-color: rgba(167, 200, 196, 0);
            color: #333333;
            i {
                font-size: 18px;
                margin-top: -3px;
                margin-right: 5px;
                color: rgba(167, 200, 196, 1);
            }
            .desktop-text {
                display: none;
            }
        }
        a.logobar-button:hover {
            color: #069297;
            i {
                color: #069297;
            }
        }
    }
}

@media only screen and (min-width:768px) {

    .navbar {
        .logobar {
            display: block;
            position: relative;
            width: initial;
            top: initial;
            padding: 10px 15px 5px 15px;
            border-bottom: 1px solid #EAEEF1;

            a.logo {
                height: initial;
                img {
                    width: initial;
                    margin-top: initial;
                }
            }
            a.logobar-button {
                width: 135px;
                margin: 18px 0px;
                line-height: 40px;
                border-color: rgba(167, 200, 196, 1);
                .desktop-text {
                    display: inline;
                }
            }
        }
    }
}


@media only screen and (min-width:768px) {

    .navbar {
        .logobar {
            border-bottom: 1px solid #EAEEF1;
        }
    }
}




