/** BLOCKS - MENU-WIDGET **/

#sidebar {
    a {
        text-decoration: none;
    }
    .sidebar_widget {
        &>h3 {
            font-family: 'handsome_proregular';
            font-size: 32px;
            padding-top: 3px;
            color: #079191;
            line-height: 1.2em;
            font-weight: normal;
        }
        ul.list {
            border-bottom: 1px solid #079191;

            &>li {
                border-top: 1px solid #079191;
                &>a {
                    display: block;
                    color: #666666;
                    font-size: 18px;
                    line-height: 30px;
                    padding: 0;
                    &:after {
                        float: right;
                        margin-right: 5px;
                        font-family: kcicons;
                        content: 'f';
                        color: #EB5C5F;
                        font-size: 8px;
                        transition: transform 0.15s;
                        padding-top: 1px;
                    }
                }
                ul {
                    border: none;
                    margin: 0;
                    padding: 0;
                    max-height: 0px;
                    opacity: 0;
                    overflow: hidden;
                    transition: max-height 0.3s, opacity 0.5s;
                    li {
                        a {
                            color: #999999;
                            font-size: 16px;
                            line-height: 24px;
                            padding: 3px 0;
                            &:hover {
                                color: #EB5C5F
                            }
                        }
                        &:last-child {
                            margin-bottom: 8px;
                        }
                        &.active a {
                            color: #EB5C5F
                        }
                    }
                }
                &.active {
                    &>a:after {
                        transform: rotate(90deg);
                    }

                    ul {
                        max-height: 599px;
                        opacity: 1;
                    }
                }
            }
        }
    } // ul>li:first-child>ul {
    //     li {
    //         a {
    //             margin-left: 24px;
    //             position: relative;
    //             color: #999999;
    //             &:before {
    //                 font-family: kcicons;
    //                 position: absolute;
    //                 left: -20px;
    //                 content: 'f';
    //                 color: #7794A4;
    //             }
    //             &:hover {
    //                 &:before {
    //                     color: #EB5C5F;
    //                 }
    //             }
    //             &[href^="/geboortekaartjes-jongen"]:before {
    //                 content: 'l';
    //             }
    //             &[href^="/geboortekaartjes-meisje"]:before {
    //                 content: 'n';
    //             }
    //             &[href^="/zelf-maken"]:before {
    //                 content: 'r';
    //             }
    //             &[href^="/nieuwe-kaartjes"]:before {
    //                 content: '\e021';
    //             }
    //             &[href^="/met-foto"]:before {
    //                 content: 'g';
    //             }
    //             &[href^="/kraamborrel"]:before {
    //                 content: '\e000';
    //             }
    //             &[href^="/enveloppen"]:before {
    //                 content: '\e01e';
    //             }
    //         }
    //         &.active a:before {
    //             color: #EB5C5F;
    //         }
    //     }
    // }
}