/** BLOCKS - MID **/

#mid {
	margin-top: 85px;
	margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    #mid {
		margin-top: 134px;
    }
}
@media only screen and (min-width: 992px) {
    #mid {
		margin-top: 0px;
    }
}
