/** BLOCKS - MIDDLEBAR **/

.navbar.navbar-style-1 {
    .middlebar {
        height: 39px;
        border-bottom: 1px solid #EAEEF1;
        background-color: #fff;
        ul.middlebar-menu-left {
            height: 39px;
            margin-bottom: 0px;
        }
        .middlebar-menu-right li.active {
            a {
                color: #069297;
            }
            ul.dropdown-content {
                // display: block;
            }
        }
        .menu-mob-middlebar-left {
            font-size: 16px;
        }
        .menu-mob-middlebar-left:before {
            box-shadow: -5px 0 5px #fff;
            background: #fff;
        }
        .navbar-search-field {
            top: 39px;
        }
        ul.middlebar-menu-left>li a {
            top: 87px;
            font-size: 10px;
            text-transform: uppercase;
            color: #363341;
        }
        ul.middlebar-menu-right {
            top: 87px;
            height: calc(100vh - 87px);
            >li {
                border-bottom: 1px solid #eee;
                a {
                    border: none;
                    &:after {
                        float: right;
                    }
                }
                >ul.dropdown-content {
                    display: none;
                    flex-wrap: wrap;
                    >li {
                        min-width: 49%;
                        width: auto;
                        display: inline-block;
                        >a {
                            display: inline-block;
                            color: #069297;
                            padding: 5px 15px;
                            font-size: 12px !important;
                            line-height: 19px;
                            border: none;
                        }
                    }
                }
            }
        }
        li.for-desktop {
            display: none !important;
        }
    }
}

@media only screen and (min-width:768px) {
    .navbar.navbar-style-1 {
        .middlebar {
            height: 0px;
            .collapse {
                top: 135px;
            }
            ul.middlebar-menu-left>li a,
            ul.middlebar-menu-right {
                padding-top: 35px;
                >li a {
                    font-weight: 400;
                    font-style: normal;
                    font-size: 14px;
                    text-transform: uppercase;
                    transition: color 0.2s;
                }
            }
            .navbar-search-field {
                top: 0px;
                left: 50%;
                transform: translate(-50%, 0%);
            }
        }
    }

    .navbar .middlebar .navbar .middlebar ul.middlebar-menu-left>li a:hover,
    .navbar .middlebar ul.middlebar-menu-right>li a:hover,
    .navbar .middlebar ul.middlebar-menu-left>li a.active,
    .navbar .middlebar ul.middlebar-menu-right>li a.active {
        background-color: transparent;
        color: #069297;
    }
}

@media only screen and (min-width:992px) {
    .navbar.navbar-style-1 {
        .middlebar {
            height: 75px;

            display: block;
            background-color: #eaedf0;
            .collapse {
                top: 0px;
            }
            li.for-desktop {
                display: inline-block !important;
            }
            li.for-mobile {
                display: none !important;
            }

            ul.middlebar-menu-right {
                padding-top: 0px;
                top: 0px;
                right: auto;
                left: auto;
                height: 100%;
                li {
                    border-color: transparent;
                }
            }
        }
        &.navbar-default-a .middlebar .navbar-search-field {
            display: none;
        }
    }
}