/** BLOCKS - NAVBAR **/

.navbar.navbar-style-1 {
    a {
        text-decoration: none;
    }
    .collapse {
        top: 85px;
    }
    .topbar {
        a.logo {
            margin: 0;
            height: 42px;
            overflow: visible;
            padding: 5px;
            img {
                height: 42px;
                max-width: initial;
            }
        }
    }
}


@media only screen and (min-width:768px) {
    .navbar.navbar-style-1 {
        height: auto;
    }
}

@media only screen and (min-width:992px) {
    .navbar.navbar-style-1 {
        height: 209px;
        .collapse {
            top: 0px;
        }
    }
}