/** BLOCKS - REVIEWBOX ---------------------------------**/

#body_home .reviewBox {
    padding: 40px 0px 20px 0px;
    width: 100%;
    overflow: hidden;
    .left {
        max-width: 350px;
        margin: 0 auto;
        padding: 20px 10px ;
        text-align: center;
        overflow: hidden;
        background: #eaeef1;
        .stars {
            width: 86px;
            margin: 0 auto;
            white-space: nowrap;
            overflow: hidden;
            text-align: left;
            i {
                width: 20px;
                margin-left: -5px;
                color: #e85154;
            }
        }
        p {
            padding: 0px 0 20px 0px;
            font-size: 13px;
            line-height: 18px;
            font-weight: 200;
            color: #000000;
            a {
                font-size: 13px;
                color: #000000;
                text-decoration: none;
                font-style: italic;
            }
        }
        .button {
            display: block;
            width: 100%;
            margin: 0px auto;
            text-align: center;
            padding: 10px;
        }
    }
    .right {
        text-align: left;
        h2 {
            padding: 20px 10% 35px 10%;
            font-family: 'handsome_proregular';
            font-size: 24px;
            line-height: 24px;
            font-weight: normal;
            color: #e14249;
            text-transform: initial;
        }
        span {
            padding-bottom: 14px;
            border-top: 1px solid #a7c8c4;
            text-align: center;
            display: block;
            max-width: 275px;
            margin: 0px auto;
            small {
                position: relative;
                top: -9px;
                font-size: 15px;
                color: #a7c8c4;
                font-weight: normal;
                background: #fff;
                padding: 0px 23px;
                display: inline-block;
            }
        }
    }
}



@media only screen and (min-width: 768px) {
    #body_home .reviewBox .right h2 {
            font-size: 30px;
            line-height: 32px;
}
}

@media only screen and (min-width: 992px) {
        #body_home .reviewBox .right h2 {
            font-size: 34px;
            line-height: 36px;
}

}