/** BLOCKS - SERVICEBOX ---------------------------------**/

.serviceBox {
    &.no-top-padding {
        padding-top: 0px !important;
    }
    padding-top: 30px;
    padding-bottom: 0px;
    width: 100%;
    position: relative;

    .cols>div:nth-child(even)>.servicebox-item {
        .detail {
            right: 0;
            left: initial;
        }
        .image {
            float: left;
        }
    }

    .servicebox-item {
        position: relative;
        background-color: #A8C8C5;
        margin-bottom: 30px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        .image {
            width: 50%;
            float: left;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                transition: 0.2s;
            }
        }
        &:hover {
            img {
                -webkit-transform: matrix(1.169, 0, 0, 1.139, 0, 0);
                -moz-transform: matrix(1.169, 0, 0, 1.139, 0px, 0px);
                -ms-transform: matrix(1.169, 0, 0, 1.139, 0, 0);
                -o-transform: matrix(1.169, 0, 0, 1.139, 0, 0);
                transform: matrix(1.169, 0, 0, 1.139, 0, 0);
            }
            .diamond {
                // filter: brightness(80%);
            }
        }
        .diamond {
            width: 30px;
            height: 30px;
            transition: filter 0.3s;
            background-color: #A8C8C5;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            z-index: 10;
        }

        .detail {
            padding: 20px 9px 9px 9px;
            width: 50%;
            top: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            p {
                padding: 0px;
                overflow: hidden;
                font-size: 15px;
                color: #fff;
                text-align: center;
            }
            .servicebox-button {
                font-size: 16px;
                font-weight: 400;
                padding: 7px 0;
                position: absolute;
                left: 9px;
                bottom: 9px;
                width: calc(100% - 18px);
                line-height: 42px;
                line-height: 22px;
                display: block;
                color: #000000;
                text-decoration: none;
                text-align: center;
                background: #fff;
                box-shadow: 1px 1px 1px 0px rgba(16, 25, 42, 0.67);
                &:hover {
                    color: #000000;
                    text-decoration: underline;
                    background: #fff;
                    box-shadow: 3px 3px 3px 0px rgba(16, 25, 42, 0.67);
                }
            }
        }


        &.blue {
            .diamond {
                background-color: #658698;
            }
            background: #658698;
        }
        &.gray {
            background: #a9a4a3;
            .diamond {
                background-color: #a9a4a3;
            }
        }
        &.lightred {
            background: #e14249;
            .diamond {
                background-color: #e14249;
            }
        }
        &.darkgreen {
            background: #01858b;
            .diamond {
                background-color: #01858b;
            }
        }
        &.lightyellow {
            background: #e4d2a4;
            .diamond {
                background-color: #e4d2a4;
            }
        }
        &.lightgreen {
            background: #7faeaa;
            .diamond {
                background-color: #7faeaa;
            }
        }
        &.light {
            background: #a7c8c4;
            .diamond {
                background-color: #a7c8c4;
            }
        }
        &.lightgray {
            background: #b8b4b3;
            .diamond {
                background-color: #b8b4b3;
            }
        }
    }
    &.big {
        padding-top: 30px;
        margin: 0px;
        background: #fff;
        .servicebox-item {
            max-width: initial;
        }
        li {
            width: calc(50% - 30px);
        }
    }
    h4 {
        font-size: 14px;
        color: #fff;
        font-weight: normal;
        line-height: 1.3em;
        padding-bottom: 10px;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .serviceBox {
        padding-top: 60px;
        padding-bottom: 30px;
        h4 {
            font-size: 18px;
        }
        .cols>div:nth-child(4n+1)>.servicebox-item,
        .cols>div:nth-child(4n+2)>.servicebox-item {
            .detail {
                right: 0;
                left: initial;
            }

            .image {
                float: left;
            }
        }
        .cols>div:nth-child(4n+3)>.servicebox-item,
        .cols>div:nth-child(4n+4)>.servicebox-item {
            .detail {
                right: initial;
                left: 0;
            }

            .image {
                float: right;
            }
        }

        .servicebox-item {
            .detail {

                .servicebox-button {
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .serviceBox {

        .cols>div:nth-child(6n+1)>.servicebox-item,
        .cols>div:nth-child(6n+2)>.servicebox-item,
        .cols>div:nth-child(6n+3)>.servicebox-item {
            .detail {
                right: 0;
                left: initial;
            }

            .image {
                float: left;
            }
        }
        .cols>div:nth-child(6n+4)>.servicebox-item,
        .cols>div:nth-child(6n+5)>.servicebox-item,
        .cols>div:nth-child(6n+6)>.servicebox-item {
            .detail {
                right: initial;
                left: 0;
            }

            .image {
                float: right;
            }
        }
    }
}