/** BLOCKS - TABLE ---------------------------------**/

.table .table-hover h2,
h3 {
    font-size: 0.7em;
    text-align: left;
}

.table tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    font-size: 0.8em;
}