/** BLOCKS - TAG-SCROLLER ---------------------------------**/

            .top-cards {
display: none;
}
        

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 1200px) {
}