/** BLOCKS - THUMBNAIL **/

.full-thumbs {
    .thumbnail {
        .thumbnail-footer {
            position: absolute;
            bottom: 0px;
            width: 100%;
            background: transparent;
            padding: 10px;
            opacity: 1;
        }
        h3 {
            line-height: 40px;
            display: block;
            font-size: 16px;
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            text-align: center;
            background: #fff;
            box-shadow: 1px 1px 1px 0px rgba(16, 25, 42, 0.67);
        }
        img {
            transition: 0.2s;
        }
        &:hover {
            img {
                transform: matrix(1.169, 0, 0, 1.139, 0, 0);
                opacity: 1;
            }
            .thumbnail-footer h3 {
                color: #000000;
                text-decoration: underline;
                box-shadow: 3px 3px 3px 0px rgba(16, 25, 42, 0.67);
            }
        }
    }
}