/** BLOCKS - TIP-LIST **/

ul.tip-list {
    color: #999999;
    font-size: 0.9em;
    font-weight: 200;
    padding-left: 25px;
    li {
        position: relative;

        &:before {
            font-family: kcicons;
            position: absolute;
            left: -20px;
            color: #079191;
            content: '\e021';
            font-size: 0.9em;
        }
    }
}