    /** BLOCKS - NAVBAR **/

    .navbar.navbar-style-1 {
        .topbar {
            font-size: 14px;
            border-bottom: 1px solid #EAEEF1;
            line-height: 30px;
            height: 50px;
            .open-favorites-dynamic .favorites-dynamic-count {
                top: 5px;
            }
            .navbar-hamburger {
                margin: 0px 15px;
            }
            .topbar-menu-right>ul>li a {
                padding: 6px 0px 6px 5px
            }
            .topbar-menu-right>ul>li.dropdown.active .dropdown-content {
                height: calc(100vh - 87px);
            }
            .topbar-menu-left a {
                &:active,
                &:focus,
                &:hover {
                    color: red;
                }
            }
            .topbar-basket-mob {
                padding: 8px 5px;
            }
            .topbar-basket-menu-mob {
                margin-top: 47px;
                height: calc(100vh - 89px);
            }
        }
    }

    @media only screen and (min-width:768px) {
        .navbar.navbar-style-1 {
            .topbar {
                height: 35px;
                background-color: #fff;
                a.logo {
                    display: none;
                }
                .topbar-menu-left {
                    display: none;
                }
                .topbar-menu-right {
                    right: 0px;
                    margin: 0 auto;
                    >ul>li.dropdown.active .dropdown-content {
                        top: 35px;
                    }
                }
                .topbar-basket-mob {
                    display: none;
                }

                .topbar-menu-right>ul>li a {
                    display: block;
                    padding: 0px 5px;
                    margin: 0;
                    border: none;
                    color: #7693a3;
                    &:active,
                    &:hover {
                        color: #EB5C5F;
                    }
                }
            }
        }


        .navbar .topbar .topbar-menu-right>ul {
            margin-bottom: 0;
        }
        .navbar .topbar .topbar-menu-right {
            position: absolute;
            top: 0;
            right: 15px;
            display: inline-block;
        }
        .navbar .topbar .topbar-menu-right>ul>li {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid transparent;
        }

        .navbar .topbar .topbar-menu-right>ul>li:last-of-type a {
            padding-right: 0;
        }
        .navbar .topbar .topbar-menu-right>ul>li a i {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
        }
        .navbar .topbar .topbar-menu-right>ul>li i {
            display: inline-block;
            vertical-align: middle;
            padding-right: 5px;
        }
        .navbar .topbar .topbar-menu-right>ul>li .icon-chevron-down {
            padding-left: 0;
            padding-right: 0;
        }
        .navbar .topbar .topbar-menu-right>ul>li.dropdown {
            position: relative;
        }
        .navbar .topbar .topbar-menu-right>ul>li.dropdown.active {
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
            background-color: #fff;
            z-index: 999;
        }
        .navbar .topbar .topbar-menu-right>ul>li.dropdown .dropdown-content {
            display: none;
        }
        .navbar .topbar .topbar-menu-right>ul>li.dropdown>a {
            position: relative;
            display: block;
            background-color: transparent;
            z-index: 33;
        }
        .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul {
            width: auto;
            right: 0;
            margin-top: -1px;
            background-color: #fff;
            border: 1px solid #eee;
            position: absolute;
            left: auto;
        }
        .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li {
            display: block;
            position: relative;
        }
        .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li>a {
            display: block;
            padding: 5px 10px;
            text-align: left;
        }
        .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li:hover {
            background-color: [[kleur4]];
        }
    }

    @media only screen and (min-width:992px) {
        .navbar.navbar-style-1 {
            .topbar {
                .topbar-menu-left {
                    padding-left: 15px;
                    display: inline-block;
                    a {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 5px;
                        margin: 0;
                        height: 100%;
                        color: #7693a3;
                    }
                }
                .topbar-menu-right {
                    padding-right: 15px;
                    float: right;
                    position: relative;
                    top: 0;
                    right: initial;
                    display: inline-block;
                    >ul>li.dropdown.active .dropdown-content {
                        top: 34px;
                        border-top: none;
                    }
                    >ul>li a {
                        padding: 1px 5px;
                    }
                    >ul>li.dropdown.active a,
                    >ul>li a {

                        &:active,
                        &:hover {
                            color: #fff;
                            background: #7693a3;
                        }
                    }
                }
            }
        }
    }