/** BLOCKS - VISUAL **/

.visual {
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 85px;
    margin-bottom: -85px;
    padding: 0;
    .container {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left center;

        h1 {
            color: #ffffff;
            font-size: 35px;
            line-height: 1.2em;
            padding: 0;
            align-self: center;
            margin-right: 15px;
            max-width: calc(100% - 30px);
        }
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    &.visual--trouwkaarten {
        background-color: #EEF0EF;
        .container h1 {
            color: #000000;
        }
    }
    &.visual--trouwen {
        background-color: #EEF0EF;
        .container h1 {
            color: #000000;
        }
    }
    &.visual--geboortekaartjes {
        background-color: #ded7cb;
    }
    &.visual--wenskaarten {
        background-color: red;
        .container h1 {
            color: #ffffff;
        }
    }
    &.visual--uitnodigingen {
        background-color: #a9d4d3;
        .container h1 {
            color: #ffffff;
        }
    }
    &.visual--verhuiskaarten {
        background-color: #ceccae;
        .container h1 {
            color: #8d2962;
            margin-right: 25%;
        }
    }
    &.visual--jubileumkaarten {
        background-color: #e7e8ec;
        .container h1 {
            color: #7c7672;
        }
    }
    &.visual--rouwkaarten {
        background-color: #f5f4ee;
        .container h1 {
            color: #694e38;
            margin-right: 25%;
        }
    }
    #pagecontent h1 {
        display: none;
    }
}


@media only screen and (min-width: 600px) {
    .visual {
        .container {
            min-height: 200px;
            h1 {
                max-width: 60%;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    .visual {
        margin-top: 134px;
        margin-bottom: -134px;
        .container {
            h1 {
                font-size: 45px;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .visual {
        margin-top: 0px;
        margin-bottom: 0px;
        .container {
            h1 {
                margin-right: 10%;
            }
        }
    }
}